{template 'header'}
<?php
$condition = "level>-1";
$items = $db->count($table, $condition);
$showpage=1;
$pages=pages($items,$page,10);
?>
<link href="{DT_SKIN}css/style_news.css" rel="stylesheet" type="text/css" />
<link href="{DT_SKIN}css/style_product.css" rel="stylesheet" type="text/css" />
<div class="m">
	<div class="pos">
		<a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a	href="{$MOD[linkurl]}">{$MOD[name]}</a>
	</div>
	<div class="m_l_2 f_l">
		<div class="left_box">
			<div class="news_slide">
				<div class="sliderbody">
				<!--{php $tags=tag("moduleid=21&condition=status=3 and level=2 and thumb!=''&areaid=$cityid&order=addtime&pagesize=3&target=_blank&template=null")}-->
					<ul>
						{loop $tags $t}
						<li>
							<A class="f_l" href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="560"  height="300" alt="{$t[title]}" ></A>
							<div class="imgtxt f_l">
								<h3>{$t[title]}</h3>
								<p>{$t[introduce]}</p>
							</div>
						</li>
						{/loop}
					</ul>
				</div>
				<div class="sliderhead">
					<ul>
					</ul>
				</div>
			</div>
		</div>
		<div class="b10">&nbsp;</div>
		<div class="left_box">
			<div class="list_box">
				<!--{php $tags=tag("moduleid=21&pagesize=10&page=$page&showpage=1&order=hits desc&template=null")}-->
				<ul>
				{loop $tags $t}
					<li>
						<div class="news_item">
							{if $t[thumb]!=''}<a href="{$t[linkurl]}" target="_blank"><img class="f_l" src="{imgurl($t[thumb],'201')}" width=200 height=125 /></a>{/if}
							<div class="newscnt f_l" style="{if $t[thumb]!=''}width:600px;{else}width:800px{/if}">
								<a href="{$t[linkurl]}" target="_blank"><h3> {$t[title]}{if $t[level]==2}<span style="color:#f85415">[推荐]</span>{/if}</h3></a>
								<p>{mb_substr($t[introduce],0,70)}<a class="newsdetail" href="{$t[linkurl]}" target="_blank">[详细]</a></p>
								<!-- {php $tcat=get_cat($t[catid])} -->
								<div class="article_catgory"><a href="{$tcat[linkurl]}" target="_blank">{$tcat[catname]}</a> <span>{if date('Y')!=date('Y',$t[edittime])}{date('Y年',$t[edittime])}{/if}{date('m月d日',$t[edittime])}</span>

								<span class="f_r">
								<!-- {php $r=$db->get_one("SELECT COUNT(*) AS num FROM destoon_comment WHERE item_id=".$t[itemid]." AND status=3")} -->
								{$t[hits]}人点击 &nbsp;&nbsp;&nbsp;
								{$r['num']}人评论
								</span>
								</div>
							</div>
						</div>
					</li>
				{/loop}
				</ul>
			</div>
		</div>
		<!-- 分页 -->
		{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}
		<!-- 分页完 -->
	</div>
	
	<div class="m_n_2 f_l">&nbsp;</div>
	
	<div class="m_r_2 f_l">
	    <div class="category_bar">
	    	{php $child = get_maincat(0,21,1);}
	    	<ul>
	    	{loop $child $i $c}<li><a href="{$MODULE[$c[catid]][$c[linkurl]]}{$c[linkurl]}">{set_style($c[catname],$c[style])}</a></li>{/loop}
	    	</ul>
	    </div>
	    <div class="b10"></div>
	    <div class="article_rank">
			<div class="box_head">
				<ul>
					<li>热门资讯</li><li>最新资讯</li>
				</ul>
			</div>
			<div class="rank_body">
				<div class="box_cnt">
				<ul>
					<!--{php $tags=tag("moduleid=21&length=20&pagesize=10&order=hits desc&template=null")}-->
					{loop $tags $i $t}
					<li>
						{if $i==0}
        		   		<div class="ranking f_l toprank">{$i+1}</div>
        		   		{elseif $i==1}
        		   		<div class="ranking f_l secondrank">{$i+1}</div>
        		   		{elseif $i==2}
        		   		<div class="ranking f_l thirdrank">{$i+1}</div>
        		   		{else}
        		   		<div class="ranking f_l">{$i+1}</div> 
        		   		{/if}
        		   		<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a><span class="article_clicks f_r">{$t[hits]}</span>
					</li>
					{/loop}
				</ul>
				</div>
				<div class="box_cnt">
				   <ul>
					<!--{php $tags=tag("moduleid=21&length=26&pagesize=10&order=edittime desc&template=null")}-->
					{loop $tags $i $t}
					<li>
						{if $i==0}
        		   		<div class="ranking f_l toprank">{$i+1}</div>
        		   		{elseif $i==1}
        		   		<div class="ranking f_l secondrank">{$i+1}</div>
        		   		{elseif $i==2}
        		   		<div class="ranking f_l thirdrank">{$i+1}</div>
        		   		{else}
        		   		<div class="ranking f_l">{$i+1}</div> 
        		   		{/if}
        		   		<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a>
					</li>
					{/loop}
					</ul>
				</div>
			</div>
		</div>
		
		<div class="b10"></div>
		
		<div class="box_head">
			<div>
				<span class="f_r"><a href="" rel="nofollow">更多&raquo;</a></span><strong>美育观点</strong>
			</div>
		</div>
		<div class="box_body f_gray">
			<ul>
					<!--{php $tags=tag("moduleid=21&length=26&catid=118&pagesize=10&order=edittime desc&template=null")}-->
					{loop $tags $i $t}
					<li>
						<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a>
					</li>
					{/loop}
			</ul>
		</div>
		
		<div class="b10"></div>
		<div class="box_head">
			<div>
				<span class="f_r"><a href="" rel="nofollow">更多&raquo;</a></span><strong>美育政策</strong>
			</div>
		</div>
		<div class="box_body f_gray">
			<ul>
					<!--{php $tags=tag("moduleid=21&length=26&catid=116&pagesize=10&order=edittime desc&template=null")}-->
					{loop $tags $i $t}<li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>{/loop}
			</ul>
		</div>
		
		<div class="b10"></div>
		
		<div class="box_head">
			<div>
				<span class="f_r"><a href="" rel="nofollow">更多&raquo;</a></span><strong>社会热点</strong>
			</div>
		</div>
		<div class="box_body f_gray">
			<ul>
					<!--{php $tags=tag("moduleid=21&length=26&catid=119&pagesize=10&order=edittime desc&template=null")}-->
					{loop $tags $i $t}
					<li>
						<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a>
					</li>
					{/loop}
			</ul>
		</div>
		

	</div>
</div>
<script type="text/javascript">
jQuery(".news_slide").slide({titCell:".sliderhead ul",mainCell:".sliderbody ul",autoPage:true,effect:"left",autoPlay:true,trigger:"click"});
jQuery(".news_slide .sliderhead ul li").html('');
$(".article_rank").mytab("box_head","box_cnt");
$(function(){
	jQuery(".category_bar ul li").hover(function(){
		$(".category_bar ul li").removeClass("on");
		$(this).addClass("on");
	});
})
</script>
{template 'footer'}