{template 'header'}
<link href="{DT_SKIN}css/style_product.css" rel="stylesheet" type="text/css" />

<?php
$company_cat=array();
$company_cat[28]=37;
$company_cat[29]=38;
$company_cat[30]=39;
$company_cat[31]=40;
$company_cat[32]=41;
$company_cat[33]=42;
$company_cat[34]=43;
$company_cat[35]=44;
$company_cat[111]=46;
?>
<div class="w_1200 o_a c_f">
	<!--总分类start-->
	<div class="w_215 f_l" >
         <div class="allsort" id="allsort">
            <h2 class="fs_14"><a class="c_white" href="{DT_PATH}sitemap/{rewrite('index.php?mid=5')}" target="_blank">课程中心</a></h2>

         {php $mid = 5;}
			{template 'catalogsell', 'chip'}


		 </div>

    </div>
    <!--总分类end-->
	   	 <div class="index_center f_l">
	    		<!--轮播 start-->
    	<div class="index_slide">
        	<div class="slideimg bdx">
                <ul>
                  <li>{ad(27)}</li>
				  <li>{ad(28)}</li>
				  <li>{ad(29)}</li>
				</ul>
            </div>
            <ul class="slidetab hd">
            <li>1</li>
			<li>2</li>
			<li>3</li>
			</ul>
        </div>
		<script type="text/javascript">
			jQuery(".index_slide").slide( { mainCell:".slideimg ul",effect:"leftLoop",autoPlay:true} );
		</script>
		<!--轮播 end-->
		<div class="hr_10"></div>
        <div class="product c_f">
		    <!--推荐产品 start-->
            <div class="recorm_mer w_720 f_l">
            	<h2>推荐课程</h2>
                <div class="bor c_f w_720"><span class="bor_1 f_l"></span><span class="bor_2 f_l"></span></div>
                <div  class="recorm_list c_f">
<!--{php $tags=tag("moduleid=5&areaid=$cityid&length=32&condition=status=3 and level>0 and thumb<>''&pagesize=12&order=addtime desc&template=null");}-->
                    
							<div class="scrollbody">
								<ul class="picList">
								{loop $tags $t}
										<li>
										<div class="pic">
											<a alt="{$t[title]}" href="{$t[linkurl]}" target="_blank"><img alt="{$t[title]}" src="{imgurl($t[thumb], 1)}"/></a>
										</div>
										<div class="course_title">
											{$t[title]}
										</div>
										<div class="course_price">
											价格<strong >：{if $t[price]>0}{$t[price]}{$DT[money_unit]}{else}面议{/if}</strong>
										</div>
										</li>
								{/loop}
								</ul>                        
							</div>
							<div class="scrollhead">
								<ul></ul>
							</div>
                </div>
            </div>
            <script>
            jQuery(".recorm_list").slide({titCell:".scrollhead ul",mainCell:".scrollbody ul",autoPage:true,effect:"left",autoPlay:true,vis:5,trigger:"click"});
            </script>
            <!--推荐产品 end-->
			<!--最新加盟商家 start-->
    		<div class="leag w_250 f_r">
            	<div class="leag_mer">
                	<h2><span><a class="f_r" href="/company/" target="_blank">更多</a></span>最新加盟</h2>
                	<div class="bor c_f"><span class="bor_1 f_l"></span><span class="bor_2 f_l"></span></div>
                    <ul>
 <!--{php $tags=tag("moduleid=4&condition=groupid>5 and vip>-1 and catids<>''&areaid=$cityid&length=18&pagesize=6&order=userid desc&template=null");}-->
                      {loop $tags $t}
                      <li><span class="f_r f_gray">{area_pos($t[areaid], '', 2)}</span><a href="{$t[linkurl]}" target="_blank">{$t[company]}</a></li>
                      {/loop}
                    </ul>
                </div>
            </div>
            <!--最新加盟商家 end-->
			        </div>
    </div>
</div>
<div class="hr_10"></div>



<!--产品层 start-->
<div class="w_1200 o_a">
{php $child = get_maincat(0, $mid, 1);}
{loop $child $j $course}
{php $ij=$j+1}
{if in_array($course[catid], array(28,29,30,31,111,32,33,34,35))}
<!--1F start-->
	<div id="tabfloor{$ij}"  class="pro_sort pro_sort0{$ij} c_f mt10">
	    <div class="floor_top tab_hd">
	    <div class="w_220 f_l">
	    <div class="floor_img f_l">{$ij}F</div>
	    <div class="floor_title f_l">{$course[catname]}课程</div>
	    </div>
	    <div class="w_720 f_l">
	    <ul>
	    <li>最新</li>
	    <li>热门</li>
	    <li>好评</li>
	    <li>推荐</li>
	    </ul>
	    </div>
	    	 <div class="righttopic w_240 f_l">
	    	 	<div class="rmph f_l">推荐机构</div>
	   		 </div>
	    </div>
    	<div class="cont_left w_220 f_l">
        	<h2>{$course[catname]}课程</h2>
        	<div class="ad_box">
            	
            	<div class="ad_text">
   					{php $maincat = get_maincat($course[catid], $CATEGORY);}
					    {loop $maincat $i $c} 
                    <span><a href="{$c[linkurl]}" target="_blank" title="{$c[catname]}">{$c[catname]}</a></span>
					 	{/loop}
                    
                </div>
            </div>
        </div>
        
        <!-- 最新课程 -->
        <div class="cont_middle f_l tab_cont">

            <div class="bdx">
                <ul class="pro_list bghover c_f">
<!--{php $tags=tag("moduleid=5&areaid=$cityid&length=20&catid=".$course[catid]."&condition=status=3 and thumb<>''&pagesize=6&order=edittime desc&template=null");}-->
                    {loop $tags $t}
                    <li class=" item">
					   <div class="c_img"><A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="220"  height="140" alt="{$t[title]}" ></A></div>
					   <div class="title_pro02"><div class="f_l"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></div>
					   		<div class="f_r o_a">
					   			{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66"/>
					   			{/if}
					   		</div>
					   	</div>
					   <div class="price ff_yh fs_14  c_js f_l">￥{if $t[price]>0}{$t[price]}{else}免费{/if}</div><div class="learnum fs_14 f_r"><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
					   
					</li>
					 {/loop}                        
                </ul>

        	</div>
        </div>
        <!--  最新课程 -->
        
       <!-- 热门课程 --> 
       <div class="cont_middle f_l tab_cont">

            <div class="bdx">
                <ul class="pro_list bghover c_f">
<!--{php $tags=tag("moduleid=5&areaid=$cityid&length=20&catid=".$course[catid]."&condition=status=3 and thumb<>''&pagesize=6&order=hits desc&template=null");}-->
                    {loop $tags $t}
                    <li class=" item">
					   <div class="c_img"><A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="220"  height="140" alt="{$t[title]}" ></A></div>
					   <div class="title_pro02"><div class="f_l"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></div>
					   		<div class="f_r o_a">
					   			{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66"/>
					   			{/if}
					   		</div>
					   	</div>
					   <div class="price ff_yh fs_14  c_js f_l">￥{if $t[price]>0}{$t[price]}{else}免费{/if}</div><div class="learnum fs_14 f_r"><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
					   
					</li>
					 {/loop}                        
                </ul>

        	</div>
        </div>
       <!-- 热门课程 -->
       
       <!-- 好评课程 -->
        <div class="cont_middle f_l tab_cont">

            <div class="bdx">
                <ul class="pro_list bghover c_f">
<!--{php $tags=tag("moduleid=5&areaid=$cityid&length=20&catid=".$course[catid]."&condition=status=3 and thumb<>''&pagesize=6&order=price desc&template=null");}-->
                    {loop $tags $t}
                    <li class=" item">
					   <div class="c_img"><A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="220"  height="140" alt="{$t[title]}" ></A></div>
					   <div class="title_pro02"><div class="f_l"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></div>
					   		<div class="f_r o_a">
					   			{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66"/>
					   			{/if}
					   		</div>
					   	</div>
					   <div class="price ff_yh fs_14  c_js f_l">￥{if $t[price]>0}{$t[price]}{else}免费{/if}</div><div class="learnum fs_14 f_r"><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
					   
					</li>
					 {/loop}                        
                </ul>

        	</div>
        </div>
        <!-- 好评课程 -->
        
        
        <!-- 推荐课程 -->
        <div class="cont_middle f_l tab_cont">

            <div class="bdx">
                <ul class="pro_list bghover c_f">
<!--{php $tags=tag("moduleid=5&areaid=$cityid&length=20&catid=".$course[catid]."&condition=status=3 and level=1 and thumb<>''&pagesize=6&order=addtime desc&template=null");}-->
                    {loop $tags $t}
                    <li class=" item">
					   <div class="c_img"><A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="220"  height="140" alt="{$t[title]}" ></A></div>
					   <div class="title_pro02"><div class="f_l"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></div>
					   		<div class="f_r o_a">
					   			{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66/>
					   			{/if}
					   		</div>
					   </div>
					   <div class="price ff_yh fs_14  c_js f_l">￥{if $t[price]>0}{$t[price]}{else}免费{/if}</div><div class="learnum fs_14 f_r"><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
					   
					</li>
					 {/loop}                        
                </ul>

        	</div>
        </div>
         <!-- 推荐课程 -->



        <div id="recm_{$ij}" class="cont_right f_l">
        	<div class="recm_headder tabhd">
        		<ul>
        			<li>推荐机构</li><li>最新机构</li>
        		</ul>
        	</div>
        	<div class="recm_body">
        		<div class="tabcont">
        		   <ul>
        		   		<!--{php $tags=tag("moduleid=4&areaid=$cityid&length=22&catid=".$company_cat[$course[catid]]."&condition=level=1&pagesize=10&order=validtime desc&template=null");}-->

        		   		{loop $tags $i $t}
        		   		 <li>
        		   			<div class="rTitle o_a">
        		   				<div class="ratitle">
        		   			  	{if $i==0}
        		   			  	    <div class="ranking f_l toprank">{$i+1}</div>
        		   			  	{elseif $i==1}
        		   			  	    <div class="ranking f_l secondrank">{$i+1}</div>
        		   			  	{elseif $i==2}
        		   			  	    <div class="ranking f_l thirdrank">{$i+1}</div>
        		   			  	{else}
        		   			  	    <div class="ranking f_l">{$i+1}</div> 
        		   			  	{/if}
        		   			  	<a href="{$t[linkurl]}" target="_blank" title="{$t[company]}">{$t[company]}</a>
        		   			  	</div>
        		   			  	{if $i==0}
        		   			  	<div class="rabody">
        		   			  	<div class="f_l"><img width="75" height="45" src='{imgurl($t[thumb], 1)}'/></div>
        		   			  	<div class="rafee f_l">
        		   			  		<div>
					   					{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   					{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66/>
					   					{/if}
					   				</div>
        		   			  		<div><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
        		   			  	</div>
        		   			  	</div>	
        		   			  	{/if}
 
        		   			  	
        		   			</div>
        		   		</li>
        		   		{/loop}
        		   </ul>
        			
        		</div>
        		<div class="tabcont">
        			<ul>
        		   		<!--{php $tags=tag("moduleid=4&areaid=$cityid&length=22&catid=".$company_cat[$course[catid]]."&pagesize=10&order=validtime desc&template=null");}-->

        		   		{loop $tags $i $t}
        		   		<li>
        		   			<div class="rTitle o_a">
        		   				<div class="ratitle">
        		   			  	{if $i==0}
        		   			  	    <div class="ranking f_l toprank">{$i+1}</div>
        		   			  	{elseif $i==1}
        		   			  	    <div class="ranking f_l secondrank">{$i+1}</div>
        		   			  	{elseif $i==2}
        		   			  	    <div class="ranking f_l thirdrank">{$i+1}</div>
        		   			  	{else}
        		   			  	    <div class="ranking f_l">{$i+1}</div> 
        		   			  	{/if}
        		   			  	<a href="{$t[linkurl]}" target="_blank" title="{$t[company]}">{$t[company]}</a>
        		   			  	</div>
        		   			  	{if $i==0}
        		   			  	<div class="rabody">
        		   			  	<div class="f_l"><img width="75" height="45" src='{imgurl($t[thumb], 1)}'/></div>
        		   			  	<div class="rafee f_l">
        		   			  		<div>
					   					{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   					{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66/>
					   					{/if}
					   				</div>
        		   			  		<div><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
        		   			  	</div>
        		   			  	</div>	
        		   			  	{/if}
 
        		   			  	
        		   			</div>
        		   		</li>
        		   		{/loop}
        		  	 </ul>
        		</div>
        	</div>
        	
        </div>
    </div>
<!--1F end-->
<script type="text/javascript">
	    $("#tabfloor{$ij}").TabADS();
        $("#recm_{$ij}").mytab("tabhd","tabcont");
      
</script>
{/if} 
{/loop}

</div>
<!--产品层 end-->


{template 'footer'}
