{template 'header'}
{php $cur_cat=get_cat($catid)}
{php $has_child=$cur_cat[child]}
{php $parent_cat=get_cat($cur_cat[parentid])}
{php $kwurl=$kw?'&kw='.$kw:''}

<?php
	$maincat=get_maincat($has_child?$catid:$cur_cat[parentid],$MOD[moduleid]);
?>
<div class="m">
<div class="pos">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; <a href="{$MOD[linkurl]}search.php">搜索</a></div>
<div class="m_l_2 f_l">
	<div class="left_box">		
		<div class="category1">
			<div id="catsfilter" class="row o_a">
				<div class="label f_l">分类:</div>
				<a class="f_l {if $has_child } btn_cur{else} unsel {/if}"  href="{if $has_child }{$MOD[linkurl]}{$cur_cat[linkurl]}{else}{$MOD[linkurl]}{$parent_cat[linkurl]}{/if}">不限</a>
				<ul class="f_l">
					{loop $maincat $k $v}
					
					<li>
						{if $CAT[catid]==$v[catid]}
							<a class="btn_cur" href="{$MOD[linkurl]}search.php?areaid={$areaid}&catid={$v[catid]}{$kwurl}">{set_style($v[catname],$v[style])}</a>
							{else}
							<a href="{$MOD[linkurl]}search.php?areaid={$areaid}&catid={$v[catid]}{$kwurl}">{set_style($v[catname],$v[style])}</a>
						{/if}
					</li>
					{/loop}
				</ul>
			</div>
				<div id="locationfilter" class="row o_a">
					<div class="location_tabhd o_a">
						<div class="label f_l">地区:</div>
						<a class="btn_cur f_l">不限</a>
						<ul class="f_l">
							<li><a>行政区</a></li>
							<li><a>热门商圈</a></li>	
						</ul>
					</div>
					<div class="location_tabbd">
						<div class="location_tabcnt subfilter">
							{php $child = get_mainarea(110000);}
							 <ul>
							 {loop $child $i $c}
							 	<li><a href="{$MOD[linkurl]}search.php?areaid={$c[areaid]}&catid={$catid}{$kwurl}">{$c[areaname]}</a></li>
							 {/loop}
							 </ul>
							 							
						</div>
						<div class="location_tabcnt">
						</div>
					</div>
					
				</div>
		</div>

	</div>
	<div class="b10">&nbsp;</div>
	{if $tags}{template 'list-'.$module, 'tag'}{/if}
</div>

<script type="text/javascript">
          	$("#locationfilter").mytab("location_tabhd","location_tabbd");
			$(function(){
				$(".list_item").hover(function(){
					$(".list_item").removeClass("select");
					$(".comment").addClass("hid");
					$(this).addClass("select");
					$(this).find(".comment").removeClass("hid");
				});
			});
</script>
<div class="m_n f_l">&nbsp;</div>
<div class="m_r_2 f_l">
	{if $kw}
	<div class="box_head"><div><strong>相关搜索</strong></div></div>
	<div class="box_body">
		<div class="sch_site">
			<ul>
			{loop $MODULE $mod}{if $mod[moduleid]>3 && $mod[moduleid]!=$moduleid && !$mod[islink]}<li><a href="{$mod[linkurl]}search.php?kw={urlencode($kw)}">在 <span class="f_red">{$mod[name]}</span> 找 {$kw}</a></li>{/if}{/loop}
			</ul>
		</div>
		<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and word<>'$kw' and keyword like '%$keyword%'&pagesize=10&order=total_search desc&template=list-search_relate", -2)}-->
	</div>
	<div class="b10">&nbsp;</div>
	{/if}
	<div class="sponsor">{ad($moduleid,$catid,$kw,7)}</div>
	<div class="box_head"><div><strong>今日搜索排行</strong></div></div>
	<div class="box_body">
		<div class="rank_list">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400&pagesize=10&order=today_search desc&key=today_search&template=list-search_rank")}-->
		</div>		
	</div>
	<div class="b10">&nbsp;</div>
	<div class="box_head"><div><strong>本周搜索排行</strong></div></div>
	<div class="box_body">
		<div class="rank_list">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*7&pagesize=10&order=week_search desc&key=week_search&template=list-search_rank")}-->
		</div>		
	</div>
	<div class="b10">&nbsp;</div>
	<div class="box_head"><div><strong>本月搜索排行</strong></div></div>
	<div class="box_body">
		<div class="rank_list">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=10&order=month_search desc&key=month_search&template=list-search_rank")}-->
		</div>		
	</div>
</div>
</div>
{template 'footer'}
