{template 'header'}
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.4.3&key=b067e3c67b11b14b67861e4d3c8f5e0a&plugin=AMap.Geocoder"></script>
<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    
<link href="{DT_SKIN}font.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class='m'>
<div class="pos"></span>当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo;</div>

<div class="m_l_2 f_l">

<div class="left_box o_a">
<div id="csalbum" class="f_l">
</div>

<div class="cinfo f_l">
	<div class="ctitle">{$title}</div>
	<div class="commpany">{if $vip==1}<span class="icon-vip icon"></span>{/if}{$company}</div>
	
	<div class="com_level o_a">
		<div class="f_l">星级：
					   			{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66"/>
					   			{/if}
		</div>
	</div>
	<div class="com_address"><span class="icon-location link"></span>{$address}</div>
	<div class="cprice">&nbsp;&nbsp;价格:{if $price==0}面议{else}￥{$price}{/if}/{if $unit==''}学期{else}{$unit}{/if}</div>
	<div class="contact_qq"><span class="icon-qq icon"></span>{if $qq==''}未提供{else}{$qq}{/if}</div>	
	<div class="contact_mobile"><span class="icon-mobile icon"></span>{if $mobile==''}未提供{else}{$mobile}{/if}</div>
	<div class="contact_tel"> <span class="icon-tel icon"></span>{$telephone}</div>
	<div class="todate"> <span class="icon"></span>有效期至：{if $todate==0}无限期{else}{$todate}{/if}</div>
	<div class="caction">
	<span class="icon-appointment button">&nbsp;预约试听</span><span class="icon-comment link">点评</span><span class="icon-forwarding link">分享</span><span class="icon-star-full link">收藏</span>
	</div>


</div>

</div>
<div class="b10">&nbsp;</div>

<div class="left_box o_a">

<div class='column'>
<div class="column_head">
<div class="column_title"><strong>课程简介</strong></div>
</div>
<div class="column_body o_a">

<div class="column_table f_l">
{$t[content]}
</div>

<div id='cscal' class="f_l">

</div>

</div>

</div>

<div class='column'>
<div class="column_head">
<div class="column_title"><strong>上课地址</strong></div>

</div>
<div class="column_body">
<div id="map_container">
</div>
</div>
</div>


</div>


<div class="b10">&nbsp;</div>

<div class="left_box o_a">
{template 'comment', 'chip'}
</div>



</div>


<div class="m_n f_l">&nbsp;</div>
<div class="m_r_2 f_l">

<div class="box_head"><div><strong>机构简介</strong></div></div>
<div class="box_body">
<!--{php $tags=tag("moduleid=4&length=28&condition=username='".$username."'&pagesize=1&template=null");}-->
 {loop $tags $t}
 	<table>
 	<tr><td   align="center"><img src='{$t[thumb]}' width=150 height=80/></td></tr>
 	<tr><td>{$t[introduce]}</td></tr>
 	</table>
 	
 	{/loop}
</div>

<div class="b10">&nbsp;</div>

<div class="box_head"><div><strong>该机构其他课程</strong></div></div>
<div class="box_body">
<!--{php $tags=tag("moduleid=5&length=22&condition=username='".$username."'&order=hits desc&pagesize=5&template=null");}-->
 {loop $tags $t}
 <div class="img_box">
 <div><img src='{$t[thumb]}' width=150 height=80/></div>
 <div><a href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></div>
 </div>
 {/loop}

</div>

<div class="b10">&nbsp;</div>

<div class="box_head"><div><strong>猜你喜欢</strong></div></div>
<div class="box_body">
</div>

</div>

</div>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}

<script>
{php $i=0;}
var album=new A_album('csalbum',{
	width:600,
	height:410,
	imgs:[
		{loop $thumbs $k $v}
			{php $i++}
			{
				src:"{$v}"
			}{if $i<3},{/if}
		{/loop}
	]
});

var calendar=new A_Calendar('cscal',{});
$(function(){

	setTimeout(geocoder,1000);
 
});
var map = new AMap.Map("map_container", {
    resizeEnable: true
});
function geocoder(){
    var geocoder = new AMap.Geocoder({
        city: "010", //城市，默认：“全国”
        radius: 1000 //范围，默认：500
    });
    //地理编码,返回地理编码结果
    geocoder.getLocation("{$address}", function(status, result) {
        if (status === 'complete' && result.info === 'OK') {
            geocoder_CallBack(result);
        }
    });
}
function addMarker(i, d) {
    var marker = new AMap.Marker({
        map: map,
        position: [ d.location.getLng(),  d.location.getLat()]
    });
    var infoWindow = new AMap.InfoWindow({
        content: d.formattedAddress,
        offset: {x: 0, y: -30}
    });
    marker.on("mouseover", function(e) {
        infoWindow.open(map, marker.getPosition());
    });
}
//地理编码返回结果展示
function geocoder_CallBack(data) {
    var resultStr = "";
    //地理编码结果数组
    var geocode = data.geocodes;
    for (var i = 0; i < geocode.length; i++) {
        //拼接输出html
        resultStr += "<span style=\"font-size: 12px;padding:0px 0 4px 2px; border-bottom:1px solid #C1FFC1;\">" + "<b>地址</b>：" + geocode[i].formattedAddress + "" + "&nbsp;&nbsp;<b>的地理编码结果是:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;坐标</b>：" + geocode[i].location.getLng() + ", " + geocode[i].location.getLat() + "" + "<b>&nbsp;&nbsp;&nbsp;&nbsp;匹配级别</b>：" + geocode[i].level + "</span>";
        addMarker(i, geocode[i]);
    }
    map.setFitView();
    document.getElementById("result").innerHTML = resultStr;
}

</script>
{template 'footer'}
