{php $CSS = array('catalog');} {template 'header'}
<?php
$condition = "level>-1";
$items = $db->count($table, $condition);
$showpage=1;
$pages=pages($items,$page,10);
?>
<div class="m">
	<div class="pos">
		<a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a	href="{$MOD[linkurl]}">{$MOD[name]}</a>
	</div>
	<div class="m_l_2 f_l">
		<div class="left_box">
			<!-- 分类过滤 -->
			<div class="category1">
				<div id="catsfilter" class="row o_a">
					<div class="label f_l">分类:</div>
					<a class="btn_cur f_l">不限</a>
					<ul class="f_l">
						{php $child = get_maincat(0,4,1);}
						 {loop $child $i $c}
						<li><a href="{$MODULE[$c[catid]][$c[linkurl]]}{$c[linkurl]}">{set_style($c[catname],$c[style])}</a></li> 
						{/loop}
					</ul>
				</div>
				<div id="locationfilter" class="row o_a">
					<div class="location_tabhd o_a">
						<div class="label f_l">地区:</div>
						<a class="btn_cur f_l">不限</a>
						<ul class="f_l">
							<li><a>行政区</a></li>
							<li><a>热门商圈</a></li>	
						</ul>
					</div>
					<div class="location_tabbd">
						<div class="location_tabcnt subfilter">
							{php $child = get_mainarea(110000);}
							 <ul>
							 {loop $child $i $c}
							 	<li><a href="{$MOD[linkurl]}search.php?areaid={$c[areaid]}">{$c[areaname]}</a></li>
							 {/loop}
							 </ul>
							 							
						</div>
						<div class="location_tabcnt">
						</div>
					</div>
					
				</div>
			</div>
			<!-- 分类过滤完 -->
			
		</div>
		<div class="b10">&nbsp;</div>
		<!-- 列表 -->
		<div class="left_box">
			<div class="sort_box">
				<ul>
					<li><a>智能</a><em>|</em></li>
					<li class="select"><a>好评&#8595;</a><em>|</em></li>
					<li><a>人气&#8595;</a><em>|</em></li>
					<li><a>环境&#8595;</a><em>|</em></li>
					<li><a>师资&#8595;</a></li>
				</ul>
			</div>
			<div class="list_box">
				<!--{php $tags=tag("moduleid=5&table=company&pagesize=10&page=$page&showpage=1&order=userid desc&template=null")}-->
				{loop $tags $t}
				<div class="list_item">
					<img class="f_l" src="{imgurl($t[thumb],'201')}" width=200 height=125 />
					<div class="list_body f_l o_a">
						<div class="item_title"><a href="{$t[linkurl]}" target="_blank">{$t[company]}</a></div>
						<div class="level">					   			
								{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66 />
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66 />
					   			{/if}
					   			    <span>{rand(0,100)}条点评</span>
						</div>
						<div class="address">
								<img src="{DT_SKIN}images/location.png"/> <span class="address">{$t[address]}</span>
						</div>
						<hr/>
						<div class="discount">
							<span class="stylefont">最新优惠:</span>
						</div>
						<div class="comment hid">
							<ul>
								<li><a><img src="{DT_SKIN}images/pen.png"/>&nbsp;写点评</a><em>|</em></li>
								<li><a><img src="{DT_SKIN}images/favorite.png"/>&nbsp;收藏</a><em>|</em></li>
								<li><a>地图</a><em>|</em></li>
								<li><a>附近</a></li>
							</ul>
						</div>
						<div class="review">
							<span>师资</span><span class="stylefont" style="margin-right:20px">{rand(8.0,9.0)}分</span><span>环境:</span><span class="stylefont">{rand(8.0,9.0)}分</span>
						</div>
					</div>
				</div>
				
				{/loop}
			</div>
		</div>
		<!-- 列表完 -->
		<!-- 分页 -->
		{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}
		<!-- 分页完 -->
	</div>
	<script type="text/javascript">
          	$("#locationfilter").mytab("location_tabhd","location_tabbd");
			$(function(){
				$(".list_item").hover(function(){
					$(".list_item").removeClass("select");
					$(".comment").addClass("hid");
					$(this).addClass("select");
					$(this).find(".comment").removeClass("hid");
				});
			});
	</script>
	<div class="m_n_2 f_l">&nbsp;</div>
	<div class="m_r_2 f_l">
		{if $MOD[page_irec]}
		<div class="box_head">
			<div>
				<span class="f_r"><a
					href="{$MOD[linkurl]}{rewrite('search.php?vip=1')}" rel="nofollow">更多&raquo;</a></span><strong>名企推荐</strong>
			</div>
		</div>
		<div class="box_body f_gray">
			<!--{tag("moduleid=$moduleid&length=28&condition=level>0 and catids<>''&areaid=$cityid&pagesize=".$MOD[page_irec]."&order=vip desc&template=list-com")}-->
		</div>
		<div class="b10"></div>
		{/if} {if $MOD[page_ivip]}
		<div class="box_head">
			<div>
				<span class="f_r"><a
					href="{$MOD[linkurl]}{rewrite('search.php?vip=1')}" rel="nofollow">更多&raquo;</a></span><strong>最新{VIP}</strong>
			</div>
		</div>
		<div class="box_body f_gray">
			<!--{tag("moduleid=$moduleid&condition=vip>0 and catids<>''&areaid=$cityid&pagesize=".$MOD[page_ivip]."&order=fromtime desc&template=list-com")}-->
		</div>
		<div class="b10"></div>
		{/if} {if $MOD[page_inews]}
		<div class="box_head">
			<div>
				<span class="f_r"><a
					href="{$MOD[linkurl]}{rewrite('news.php?page=1')}">更多&raquo;</a></span><strong>企业新闻</strong>
			</div>
		</div>
		<div class="box_body f_gray">
			<!--{tag("table=news&condition=status=3 and level>0&pagesize=".$MOD[page_inews]."&datetype=2&order=addtime desc&target=_blank")}-->
		</div>
		<div class="b10"></div>
		{/if} {if $MOD[page_inew]}
		<div class="box_head">
			<div>
				<span class="f_r"><a
					href="{$MOD[linkurl]}{rewrite('search.php?page=1')}" rel="nofollow">更多&raquo;</a></span><strong>最新加入</strong>
			</div>
		</div>
		<div class="box_body f_gray">
			<!--{tag("moduleid=$moduleid&condition=groupid>5 and catids<>''&areaid=$cityid&pagesize=".$MOD[page_inew]."&order=userid desc&template=list-com")}-->
		</div>
		{/if}
	</div>
</div>
{template 'footer'}
