<!--底部start-->
<div class="hr_10"></div>
<div class="footer">
<!-- 
<div class="foot_help m">
	<div class="o_a">
		<ul class="c_f">
			<li>
				<dl>
					<dt class="ff_yh">
						<a title="" href="javascript:" target="_blank">新手指南</a> 
					</dt>
					<dd>
						<a title="注册新用户" href="#" target="_blank">注册新用户</a> 
					</dd>
					<dd>
						<a title="帐号密码" href="#" target="_blank">帐号密码</a> 
					</dd>
					<dd>
						<a title="买家入门" href="#" target="_blank">买家入门</a> 
					</dd>
					<dd>
						<a title="商家入门" href="#" target="_blank">商家入门</a> 
					</dd>
					<dd>
						<a title="购物流程" href="#" target="_blank">购物流程</a> 
					</dd>
				</dl>
			</li>

			<li>
				<dl>
					<dt class="ff_yh">
						<a title="" href="javascript:" target="_blank">采购商服务</a> 
					</dt>
					<dd>
						<a title="采购商服务中心" href="#" target="_blank">采购商服务中心</a> 
					</dd>
					<dd>
						<a title="找商家" href="#" target="_blank">找商家</a> 
					</dd>
					<dd>
						<a title="找产品" href="#" target="_blank">找产品</a> 
					</dd>
					<dd>
						<a title="配套服务" href="#" target="_blank">配套服务</a> 
					</dd>
					<dd>
						<a title="支付方式" href="#" target="_blank">支付方式</a> 
					</dd>
				</dl>
			</li>

			<li>
				<dl>
					<dt class="ff_yh">
						<a title="" href="javascript:" target="_blank">商家服务</a> 
					</dt>

					<dd>
						<a title="商家入驻" href="#" target="_blank">商家入驻</a> 
					</dd>
					<dd>
						<a title="发布产品" href="#" target="_blank">发布产品</a> 
					</dd>
					<dd>
						<a title="物流配套" href="#" target="_blank">物流配套</a> 
					</dd>
					<dd>
						<a title="售后说明" href="#" target="_blank">售后说明</a> 
					</dd>
				</dl>

			</li>

			<li>
				<dl>
					<dt class="ff_yh">
						<a title="" href="javascript:" target="_blank">服务条款</a> 
					</dt>
					<dd>
						<a title="售后服务政策" href="#" target="_blank">售后服务政策</a> 
					</dd>
					<dd>
						<a title="售后特色服务" href="#" target="_blank">售后特色服务</a> 
					</dd>
					<dd>
						<a title="退换货说明" href="#" target="_blank">退换货说明</a> 
					</dd>
					<dd>
						<a title="服务时效承诺" href="#" target="_blank">服务时效承诺</a> 
					</dd>
					<dd>
						<a title="联系客服" href="#" target="_blank">联系客服</a> 
					</dd>
				</dl>
			</li>

			<li>
				<dl>
					<dt class="ff_yh">
						<a title="" href="javascript:" target="_blank">交易安全</a> 
					</dt>
					<dd>
						<a title="交易安全" href="#" target="_blank">交易安全</a> 
					</dd>
					<dd>
						<a title="买家保障" href="#" target="_blank">买家保障</a> 
					</dd>
					<dd>
						<a title="商家实体认证" href="#" target="_blank">商家实体认证</a> 
					</dd>
					<dd>
						<a title="交易纠纷" href="#" target="_blank">交易纠纷</a> 
					</dd>
					<dd>
						<a title="投诉举报" href="#" target="_blank">投诉举报</a> 
					</dd>
				</dl>
			</li>

			<li class="weixin">
				<dl>
					<dt class="ff_yh">
						<a title="" href="javascript:" target="_blank">联系方式 </a>
					</dt>
					<dd>
						邮箱：000000000@qq.com
					</dd>
					<dd>
						Q  Q：000000000
					</dd>
					<dd>
						<p>
						电话：00000000
						</p>
					</dd>
				</dl>
			</li>
		</ul>

	</div>

</div>
 -->
<div class="foot_nav w_1200 o_a t_c">
	<a href="{$MODULE[1][linkurl]}">网站首页</a>
	<!--{tag("table=webpage&condition=item=1&areaid=$cityid&order=listorder desc,itemid desc&template=list-webpage")}-->
	<a href="{$MODULE[1][linkurl]}sitemap/">网站地图</a>
    <!-- 
    <a href="{$EXT[spread_url]}">排名推广</a>
	{if $EXT[ad_enable]} <a href="{$EXT[ad_url]}">广告服务</a>{/if}
	{if $EXT[gift_enable]} <a href="{$EXT[gift_url]}">积分换礼</a>{/if}
	{if $EXT[guestbook_enable]} <a href="{$EXT[guestbook_url]}">网站留言</a>{/if}
	{if $EXT[feed_enable]} <a href="{$EXT[feed_url]}">RSS订阅</a>{/if}
	 -->
</div>

<div class="w_1200 o_a">
	<div class="foot_info t_c">
		<p class="txt line_22">
			{$DT[copyright]}&nbsp;{if $DT[icpno]}<a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">{$DT[icpno]}</a>{/if}
		</p>
		<div class="img">
			<a title="" href="javascript:"><img alt="备案" src="{DT_SKIN}images/foot_img1.png" /></a><a title="备案2" href="javascript:"><img alt="备案3" src="{DT_SKIN}images/foot_img2.png" /></a><a title="" href="javascript:"><img alt="备案5" src="{DT_SKIN}images/foot_img3.png" /></a><a title="" href="javascript:"><img alt="备案6" src="{DT_SKIN}images/foot_img4.png" /></a><a title="" href="javascript:"><img alt="备案7" src="{DT_SKIN}images/foot_img5.png" /></a> 
		</div>
	</div>

</div></div>
<!--底部end-->
<!--分类JS-->
<script type="text/javascript" src="{DT_SKIN}js/pro.js"></script>
<script type="text/javascript">
$(function(){    
    $('#headSearch').selectbox();    
    
    $("#notice").TabADS();
    $("#notice2").TabADS();
    $("#wpd").TabADS();
    $("#con").TabADS();
    $("#con2").TabADS();
    $("#tabfloor1").TabADS();
    //tongda copy 部分
	$('#curchange').SubsortTop();//分类菜单第一级
    $('#curchange').Subsort();//分类菜单第二级
    $("#specialBox").TabADS();
    $("#backTop").backTop();
});
</script>


<!--[系统关键代码，请勿删除]-->
<div id="back2top" class="back2top"><a href="javascript:void(0);" title="返回顶部">&nbsp;</a></div>
<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
$('#back2top').click(function() {
	$("html, body").animate({scrollTop:0}, 200);
});
</script>
</body>
</html>
