<!--底部start-->
<div class="hr_10"></div>
<div class="footer_bg">
</div>
<div class="footer">

<div class="w_1200 friend_link  o_a">
<div class="f_l">
<!--{tag("table=link&condition=status=3 and thumb!='' and username=''&pagesize=1400&order=listorder desc,itemid desc&areaid=$cityid&template=list-link&cols=7")}-->
<!--{tag("table=link&condition=status=3 and thumb='' and username=''&pagesize=1400&order=listorder desc,itemid desc&areaid=$cityid&template=list-link&cols=7")}-->
</div>
</div>

<div class="foot_nav w_1200 o_a t_c">
	<a href="{$MODULE[1][linkurl]}">网站首页</a>
	<!--{tag("table=webpage&condition=item=1&areaid=$cityid&order=listorder desc,itemid desc&template=list-webpage")}-->
	<a href="{$MODULE[1][linkurl]}sitemap/">网站地图</a>
    <!-- 
    <a href="{$EXT[spread_url]}">排名推广</a>
	{if $EXT[ad_enable]} <a href="{$EXT[ad_url]}">广告服务</a>{/if}
	{if $EXT[gift_enable]} <a href="{$EXT[gift_url]}">积分换礼</a>{/if}
	{if $EXT[guestbook_enable]} <a href="{$EXT[guestbook_url]}">网站留言</a>{/if}
	{if $EXT[feed_enable]} <a href="{$EXT[feed_url]}">RSS订阅</a>{/if}
	 -->
</div>

<div class="w_1200 o_a">
	<div class="foot_info t_c">
		<p class="txt line_22">
			{$DT[copyright]}&nbsp;{if $DT[icpno]}<a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">{$DT[icpno]}</a>{/if}
		</p>
		<div class="img">
			<a title="" href="javascript:"><img alt="备案" src="{DT_SKIN}images/foot_img1.png" /></a><a title="备案2" href="javascript:"><img alt="备案3" src="{DT_SKIN}images/foot_img2.png" /></a><a title="" href="javascript:"><img alt="备案5" src="{DT_SKIN}images/foot_img3.png" /></a><a title="" href="javascript:"><img alt="备案6" src="{DT_SKIN}images/foot_img4.png" /></a><a title="" href="javascript:"><img alt="备案7" src="{DT_SKIN}images/foot_img5.png" /></a> 
		</div>
	</div>

</div>


</div>
<!--底部end-->
<!--分类JS-->
<script type="text/javascript" src="{DT_SKIN}js/pro.js"></script>
<script type="text/javascript">
$(function(){    
    $('#headSearch').selectbox();    
    
    $("#notice").TabADS();
    $("#notice2").TabADS();
    $("#wpd").TabADS();
    $("#con").TabADS();
    $("#con2").TabADS();

    //tongda copy 部分
	$('#curchange').SubsortTop();//分类菜单第一级
    $('#curchange').Subsort();//分类菜单第二级
    $("#specialBox").TabADS();
    $("#backTop").backTop();
});
</script>


<!--[系统关键代码，请勿删除]-->
<div id="back2top" class="back2top"><a href="javascript:void(0);" title="返回顶部">&nbsp;</a></div>
<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
$('#back2top').click(function() {
	$("html, body").animate({scrollTop:0}, 200);
});
</script>
</body>
</html>
