{php $CSS = array('index');}
{template 'header'}
<?php
$company_cat=array();
$company_cat[28]=37;
$company_cat[29]=38;
$company_cat[30]=39;
$company_cat[31]=40;
$company_cat[32]=41;
$company_cat[33]=42;
$company_cat[34]=43;
$company_cat[35]=44;
$company_cat[111]=46;
?>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}css/style_home.css" />
<!--正文start-->
<div class="w_1200 o_a c_f">
   	<!--总分类start-->
	<div class="w_215 f_l" >
                
    	<div class="allsort" id="allsort">
            <h2 class="fs_14"><a class="c_white" href="{DT_PATH}sitemap/{rewrite('index.php?mid=5')}" target="_blank">课程中心</a></h2>
            <!--5是模块ID-->
                  
         {php $mid = 5;}
         
			{template 'catalogindex', 'chip'}
            

		 </div>
    </div>
    <!--总分类end-->

	<div class="index_right f_r">
	 
        <div class="login_bar c_f">
            <div class="login_head">
            </div>
            <p>
            	Hi,&nbsp;&nbsp;你好！
            </p>
          <a class="login" href="{$MODULE[2][linkurl]}login.php">登录</a><a class="register" href="{$MODULE[2][linkurl]}register.php">注册</a>
		</div>
		<!--商城动态 start-->
        	 <!--首页广告 A3-->
                     <div class="index_notice index_notice2" id="notice2">
			<div class="tab_hd">
				<ul class="c_f">
					<li><a target="_blank" href="/news/">美育头条</a></li>
                    <li><a target="_blank" href="/news/">展览演出</a></li>
				</ul>
			</div>
			<div class="tab_cont">
				<ul>
<!--{php $tags=tag("moduleid=21&showcat=1&length=26&showcat=1&areaid=$cityid&condition=status=3 and level=3&order=addtime desc&pagesize=1&template=null");}-->
				 {loop $tags $t}
                <li style="height:100px">
                <A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="200"  height="100" alt="{$t[title]}" ></A>
                <div class="imgtxt">{$t[title]}</div>
                </li>
				 {/loop} 
<!--{php $tags=tag("moduleid=21&showcat=1&length=28&showcat=1&areaid=$cityid&condition=status=3 and level>-1&order=addtime desc&pagesize=5&template=null");}-->
				 {loop $tags $t}
                <li><A href="{$t[linkurl]}" alt="{$t[title]}" target="_blank">{$t[title]}</A></li>
				 {/loop} 
				</ul>
			</div>
			<div class="tab_cont">
				<ul>
<!--{php $tags=tag("moduleid=21&showcat=1&length=36&catid=6676&areaid=$cityid&condition=status=3 and level=3&order=addtime desc&pagesize=1&template=null");}-->
				 {loop $tags $t}
                <li><A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="230"  height="72" alt="{$t[title]}" ></A></li>
				 {/loop} 
<!--{php $tags=tag("moduleid=21&showcat=1&length=36&catid=6676&areaid=$cityid&condition=status=3 and level>-1&order=addtime desc&pagesize=7&template=null");}-->
				 {loop $tags $t}
                <li><A href="{$t[linkurl]}" alt="{$t[title]}" target="_blank">{$t[title]}</A></li>
				 {/loop} 
                </ul>
			</div>
			<div class="tab_cont">
				<ul>
<!--{php $tags=tag("moduleid=21&showcat=1&length=36&catid=5845&areaid=$cityid&condition=status=3 and level=3&order=addtime desc&pagesize=1&template=null");}-->
				 {loop $tags $t}
                <li><A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="230"  height="72" alt="{$t[title]}" ></A></li>
				 {/loop} 
<!--{php $tags=tag("moduleid=21&showcat=1&length=36&catid=5845&areaid=$cityid&condition=status=3 and level>-1&order=addtime desc&pagesize=7&template=null");}-->
				 {loop $tags $t}
                <li><A href="{$t[linkurl]}" alt="{$t[title]}" target="_blank">{$t[title]}</A></li>
				 {/loop} 
                </ul>
			</div>
		</div>
		<!--商城动态 end-->
        	</div>
</div>

<!-- slide start -->
        <div class="index_center">
        		<!--轮播 start-->
    	<div class="index_slide">
        	<div class="slideimg bdx">
                <ul>
                                    <li><a target="_blank" href="/"><img height="500"  src="{DT_SKIN}images/adv1.jpg" alt="" /></a></li>
                                    <li><a target="_blank" href="/"><img height="500"  src="{DT_SKIN}images/adv2.jpg" alt="" /></a></li>
                                    <li><a target="_blank" href="/"><img height="500"  src="{DT_SKIN}images/adv3.jpg" alt="" /></a></li>
                </ul>
            </div>
            <ul class="slidetab hd">
                                    <li></li>
                                    <li></li>
                                    <li></li>
            </ul>
        </div>
		<script type="text/javascript">
			jQuery(".index_slide").slide( { mainCell:".slideimg ul",effect:"leftLoop",autoPlay:true} );
		</script>
		<!--轮播 end-->


      
      </div>


<!-- slide end -->



<div class="hr_30"></div>
 <!-- 首页广告位 A4-->
<div class="w_1200 o_a">
<div class="bigtitlebar"><div class="separ">//////////////////////////////////////////////////////////////////////////////////////////////////////////////</div><div class="bigtext">推荐课程</div><div class="separ">//////////////////////////////////////////////////////////////////////////////////////////////////////////////</div></div>
 </div>
<!-- 首页广告位 A4-->
<div class="hr_30"></div>

<!--推荐课程轮播  -->
<!--{php $tags=tag("moduleid=5&areaid=$cityid&length=28&condition=status=3 and level=1 and thumb<>''&pagesize=5&order=addtime desc&template=null");}-->
		<div class="picScroll w_1200 o_a">
		
			<div class="scrollbody">
				<ul class="picList">
				{loop $tags $t}
					<li>
					
					
						<div class="pic">
						<a alt="{$t[title]}" href="{$t[linkurl]}" target="_blank"><img alt="{$t[title]}" src="{imgurl($t[thumb], 1)}" /></a>
						<div class="spicmask"></div>
						</div>
						<div class="title"><a alt="{$t[title]}" href="{$t[linkurl]}" target="_blank">{$t[title]}</a></div>
					</li>
				{/loop}
				</ul>
			</div>
			<div class="scrollhead">
				<ul></ul>
				<span class="pageState"></span>
			</div>
		</div>
<script type="text/javascript">
jQuery(".picScroll").slide({titCell:".scrollhead ul",mainCell:".scrollbody ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
</script>
<!--推荐课程轮播  -->

<!--推荐展会 -->
<div class="hr_30"></div>
<div class="w_1200 o_a">
<div class="bigtitlebar o_a"><div class="separ">//////////////////////////////////////////////////////////////////////////////////////////////////////////////</div><div class="bigtext">展览演出</div><div class="separ">//////////////////////////////////////////////////////////////////////////////////////////////////////////////</div></div>
</div>
<div class="hr_30"></div>

<div class="recexh w_1200 o_a">
<div class="w_300 exhi_fil exhi_fil_all">全年龄阶段</div>
<div class="w_300 exhi_fil">0-3岁</div>
<div class="w_300 exhi_fil">3-6岁</div>
<div class="w_300 exhi_fil o_a">6-12岁</div>
<div class="hr_30"></div>
<!--{php $tags=tag("moduleid=8&areaid=$cityid&length=28&condition=status=3 and level=1 and thumb<>''&pagesize=4&order=addtime desc&template=null");}-->

<ul class="exhiList">
{loop $tags $t}
<li>
<div class="pic">
<a alt="{$t[title]}" href="{$t[linkurl]}" target="_blank"><img alt="{$t[title]}" src="{imgurl($t[thumb], 1)}" /></a>
<div class="spicmask"></div>
</div>
<div class="title">

<div>
<a alt="{$t[title]}" href="{$t[linkurl]}" target="_blank">{$t[title]}</a>
</div>

<div class="exinfo">
<span><img src="{DT_SKIN}images/clock.png"/>&nbsp;{date('Y年m月d日',$t[fromtime])}</span><span class="f_r"><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人报名</span>
</div>

</div>
</li>
{/loop}
</ul>

<!--{php $tags=tag("moduleid=8&areaid=$cityid&length=28&condition=status=3 and level=1 and thumb<>''&pagesize=4&page=2&order=addtime desc&template=null");}-->
<ul class="exhiList">
{loop $tags $t}
<li>
<div class="pic">
<a alt="{$t[title]}" href="{$t[linkurl]}" target="_blank"><img alt="{$t[title]}" src="{imgurl($t[thumb], 1)}" /></a>
<div class="spicmask"></div>
</div>
<div class="title">

<div>
<a alt="{$t[title]}" href="{$t[linkurl]}" target="_blank">{$t[title]}</a>
</div>

<div class="exinfo">
<span><img src="{DT_SKIN}images/clock.png"/>&nbsp;{date('Y年m月d日',$t[fromtime])}</span><span class="f_r"><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人报名</span>
</div>

</div>
</li>
{/loop}
</ul>

</div>
<!--推荐展会 -->

<!--产品层 start-->
<div class="w_1200 o_a">
{php $child = get_maincat(0, $mid, 1);}
{loop $child $j $course}
{php $ij=$j+1}
{if in_array($course[catid], array(28,29,30,31,111,32,33,34,35))}
<!--1F start-->
	<div id="tabfloor{$ij}"  class="pro_sort pro_sort0{$ij} c_f mt10">
	    <div class="floor_top tab_hd">
	    <div class="w_220 f_l">
	    <div class="floor_img f_l">{$ij}F</div>
	    <div class="floor_title f_l">{$course[catname]}课程</div>
	    </div>
	    <div class="w_720 f_l">
	    <ul>
	    <li>推荐</li>{php $maincat = get_maincat($course[catid], $CATEGORY);}
	    {loop $maincat $i $c} 
	    {if $i < 4}
	    <li>{$c[catname]}</li>
	    {/if}
	    {/loop}
	    <li>其他</li>
	    </ul>
	    </div>
	    	 <div class="righttopic w_240 f_l">
	    	 	<div class="rmph f_l">热门排行</div>
	    	 	<div class="gdlj f_r">更多&gt;&gt;</div>
	   		 </div>
	    </div>
    	<div class="cont_left w_220 f_l">
        	<h2>{$course[catname]}课程</h2>
        	<div class="ad_box">
            	
            	<div class="ad_text">
                	<ul>
<!--{php $tags=tag("moduleid=4&areaid=$cityid&length=28&catid=".$company_cat[$course[catid]]."&condition=level>-1&pagesize=4&order=validtime desc&template=null");}-->
                    {loop $tags $t}
                    <li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[company]}</a></li>
					 {/loop}
                    </ul>
                </div>
            </div>
        </div>
        <div class="cont_middle f_l tab_cont">

            <div class="bdx">
                <ul class="pro_list bghover c_f">
<!--{php $tags=tag("moduleid=5&areaid=$cityid&length=20&catid=".$course[catid]."&condition=status=3 and level=1 and thumb<>''&pagesize=6&order=addtime desc&template=null");}-->
                    {loop $tags $t}
                    <li class=" item">
					   <div class="c_img"><A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="220"  height="140" alt="{$t[title]}" ></A></div>
					   <div class="title_pro02"><div class="f_l"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></div>
					   		<div class="f_r o_a">
					   			{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66/>
					   			{/if}
					   		</div>
					   </div>
					   <div class="price ff_yh fs_14  c_js f_l">￥{if $t[price]>0}{$t[price]}{else}免费{/if}</div><div class="learnum fs_14 f_r"><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
					   
					</li>
					 {/loop}                        
                </ul>

        	</div>
        </div>
        {loop $maincat $i $c}
        {if $i < 4}
        	<div class="cont_middle f_l tab_cont">

            <div class="bdx">
                <ul class="pro_list bghover c_f">
<!--{php $tags=tag("moduleid=5&areaid=$cityid&length=20&catid=".$c[catid]."&condition=status=3 and level>-1 and thumb<>''&pagesize=6&order=addtime desc&template=null");}-->
                    {loop $tags $t}
                    <li class=" item">
					   <div class="c_img"><A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="220"  height="140" alt="{$t[title]}" ></A></div>
					   <div class="title_pro02"><div class="f_l"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></div>
					   		<div class="f_r o_a">
					   			{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66"/>
					   			{/if}
					   		</div>
					   	</div>
					   <div class="price ff_yh fs_14  c_js f_l">￥{if $t[price]>0}{$t[price]}{else}免费{/if}</div><div class="learnum fs_14 f_r"><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
					   
					</li>
					 {/loop}                        
                </ul>

        	</div>
        	</div>
        {/if}
        {/loop}
        <div class="cont_middle f_l tab_cont">

            <div class="bdx">
                <ul class="pro_list bghover c_f">
<!--{php $tags=tag("moduleid=5&areaid=$cityid&length=20&catid=".$course[catid]."&condition=status=3 and thumb<>''&pagesize=6&order=addtime desc&template=null");}-->
                    {loop $tags $t}
                    <li class=" item">
					   <div class="c_img"><A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="220"  height="140" alt="{$t[title]}" ></A></div>
					   <div class="title_pro02"><div class="f_l"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></div>
					   		<div class="f_r o_a">
					   			{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66"/>
					   			{/if}
					   		</div>
					   	</div>
					   <div class="price ff_yh fs_14  c_js f_l">￥{if $t[price]>0}{$t[price]}{else}免费{/if}</div><div class="learnum fs_14 f_r"><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
					   
					</li>
					 {/loop}                        
                </ul>

        	</div>
        </div>
        <div id="recm_{$ij}" class="cont_right f_l">
        	<div class="recm_headder tabhd">
        		<ul>
        			<li>热门课程</li><li>热门问答</li>
        		</ul>
        	</div>
        	<div class="recm_body">
        		<div class="tabcont">
        		   <ul>
        		   		<!--{php $tags=tag("moduleid=5&length=20&condition=thumb<>''&catid=".$course[catid]."&areaid=$cityid&pagesize=10&order=hits desc&template=null")}--> 
        		   		{loop $tags $i $t}
        		   		<li>
        		   			<div class="rTitle o_a">
        		   			  <div class="ratitle">
        		   			  	{if $i==0}
        		   			  	    <div class="ranking f_l toprank">{$i+1}</div>
        		   			  	{elseif $i==1}
        		   			  	    <div class="ranking f_l secondrank">{$i+1}</div>
        		   			  	{elseif $i==2}
        		   			  	    <div class="ranking f_l thirdrank">{$i+1}</div>
        		   			  	{else}
        		   			  	    <div class="ranking f_l">{$i+1}</div> 
        		   			  	{/if}
        		   			  	<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a>
        		   			  </div>
        		   			  {if $i==0}
        		   			  <div class="rabody">
        		   			  	<div class="f_l"><img width="75" height="45" src='{imgurl($t[thumb], 1)}'/></div>
        		   			  	<div class="rafee f_l">
        		   			  		<div class="price">￥{if $t[price]>0}{$t[price]}{else}免费{/if}</div>
        		   			  		<div><img src="{DT_SKIN}images/user.png"/>{rand(5,120)}人点评</div>
        		   			  	</div>
        		   			  </div>	
        		   			  {/if}
        		   			</div>
        		   		</li>
        		   		{/loop}
        		   </ul>
        			
        		</div>
        		<div class="tab_cont"></div>
        	</div>
        	
        </div>
    </div>
<!--1F end-->
<script type="text/javascript">
	    $("#tabfloor{$ij}").TabADS();
        $("#recm_{$ij}").mytab("tabhd","tabcont");
</script>
{/if} 
{/loop}

</div>
<!--产品层 end-->

<div class="w_1200 o_a">
<div class="bigtitlebar"><div class="separ">//////////////////////////////////////////////////////////////////////////////////////////////////////////////</div><div class="bigtext">美育头条</div><div class="separ">//////////////////////////////////////////////////////////////////////////////////////////////////////////////</div></div>
 </div>
<!--新闻资讯 start-->
<div class="w_1200 o_a index_news c_f mt10">

<div class="index_left">
 <h3><span class="f_r"><a target="_blank" href="{$MODULE[21][linkurl]}">更多&nbsp;&nbsp;<b class="ico ico_news"></b></a></span>热点新闻</h3>
 
 	<!--轮播推荐start-->
	<div id="hotnews">
		<div class="slide">
			<div class="bd">
				<ul>
				<!--{php $tags=tag("moduleid=21&condition=status=3 and level=2 and thumb!=''&areaid=$cityid&order=addtime desc&pagesize=3&target=_blank&template=null")}-->
				{loop $tags $t}
				<li>
					<A href="{$t[linkurl]}" target=_blank><IMG  src="{imgurl($t[thumb], 1)}" width="340"  height="190" alt="{$t[title]}" ></A>
					<div class="imgtxt">{$t[title]}</div>
				</li>
				{/loop}
				</ul>
			</div>
			
			<div class="hd">
				<ul><li></li><li></li><li></li></ul>
            </div>
		</div>

	</div>
	<!--轮播推荐 end-->
	<div class="newslist">
		<!--{php $tags=tag("moduleid=21&length=44&condition=status=3 and level=1 and thumb!=''&areaid=$cityid&order=addtime desc&pagesize=10&target=_blank&template=null")}-->
		<ul>
		{loop $tags $t}
				<li>
					<div class="f_l listStyle"></div><A href="{$t[linkurl]}" target=_blank>{$t[title]}</A>
					
				</li>
		{/loop}
		</ul>
		
	</div>
</div>

<div class="index_middle">
<!-- {php $cat=get_cat(48)} -->
<h3><span class="f_r"><a target="_blank" href="{$MODULE[21][linkurl]}{$cat[linkurl]}">更多&nbsp;&nbsp;<b class="ico ico_news"></b></a></span>{$cat[catname]}</h3>
<div class="newslist col f_l">
		<!--{php $tags=tag("moduleid=21&catid=48&length=34&condition=status=3&areaid=$cityid&order=addtime desc&pagesize=18&target=_blank&template=null")}-->
		<ul>
		{loop $tags $t}
				<li>
					<div class="f_l listStyle"></div><A href="{$t[linkurl]}" target=_blank>{$t[title]}</A>
					
				</li>
		{/loop}
		</ul>
</div>
<div class="newslist col f_l o_a">
<!--{php $tags=tag("moduleid=21&catid=48&length=34&condition=status=3&areaid=$cityid&order=addtime desc&pagesize=18&page=2&target=_blank&template=null")}-->
		<ul>
		{loop $tags $t}
				<li>
					<div class="f_l listStyle"></div><A href="{$t[linkurl]}" target=_blank>{$t[title]}</A>
					
				</li>
		{/loop}
		</ul>
</div>
</div>

<div class="index_right">
<div>
<!-- {php $cat=get_cat(116)} -->
<h3><span class="f_r"><a target="_blank" href="{$MODULE[21][linkurl]}{$cat[linkurl]}">更多&nbsp;&nbsp;<b class="ico ico_news"></b></a></span>{$cat[catname]}</h3>
<div class="newslist">
<!--{php $tags=tag("moduleid=21&catid=116&length=28&condition=status=3&areaid=$cityid&order=addtime desc&pagesize=9&target=_blank&template=null")}-->
		<ul>
		{loop $tags $t}
				<li>
					<div class="f_l listStyle"></div><A href="{$t[linkurl]}" target=_blank>{$t[title]}</A>
					
				</li>
		{/loop}
		</ul>
</div>

</div>
<div class="sep_tras b10">&nbsp;</div>
<div>
<!-- {php $cat=get_cat(118)} -->
<h3><span class="f_r"><a target="_blank" href="{$MODULE[21][linkurl]}{$cat[linkurl]}">更多&nbsp;&nbsp;<b class="ico ico_news"></b></a></span>{$cat[catname]}</h3>
<div class="newslist">
<!--{php $tags=tag("moduleid=21&catid=118&length=28&condition=status=3&areaid=$cityid&order=addtime desc&pagesize=6&target=_blank&template=null")}-->
		<ul>
		{loop $tags $t}
				<li>
					<div class="f_l listStyle"></div><A href="{$t[linkurl]}" target=_blank>{$t[title]}</A>
					
				</li>
		{/loop}
		</ul>
</div>

</div>

</div>


</div>
<!--新闻资讯 end-->

<div class="floor_nav">
<ul>
	<li refdiv=".bigtitlebar:eq(0)">推荐课程</li>
	<li refdiv=".bigtitlebar:eq(1)">展览演出</li>
	<li refdiv="#tabfloor1">&nbsp;1F美术</li>
	<li refdiv="#tabfloor2">&nbsp;2F音乐</li>
	<li refdiv="#tabfloor3">&nbsp;3F舞蹈</li>
	<li refdiv="#tabfloor4">&nbsp;4F棋类</li>
	<li refdiv="#tabfloor5">&nbsp;5F国学</li>
	<li refdiv="#tabfloor6">&nbsp;6F外语</li>
	<li refdiv="#tabfloor7">&nbsp;7F科学</li>
	<li refdiv="#tabfloor8">&nbsp;8F体育</li>
	<li refdiv="#tabfloor9">&nbsp;9F兴趣</li>
	<li refdiv=".bigtitlebar:eq(2)">美育头条</li>
</ul>
</div>

<script type="text/javascript">
jQuery("#hotnews").slide( {mainCell:".slide .bd ul",effect:"leftLoop",autoPlay:true} );
$(function(){ 

    var start=$('.bigtitlebar').offset().top;
    var st=start-300;
    $(window).bind("scroll",function(e){
    
    	var scrolly = $(document).scrollTop();
    	if(scrolly<st || scrolly>5500){
    		$('.floor_nav').hide();
    	}else if(scrolly>=st){

    	    $('.floor_nav ul li').removeClass("cur");
    	    $('.floor_nav ul li').removeClass("hl");
    		$('.floor_nav').show();
    		if(scrolly<st+305-50){
    			$('.floor_nav ul li').eq(0).addClass("cur");
    		}else if(scrolly<st+305+600-50){
    			$('.floor_nav ul li').eq(1).addClass("cur");
    		}else{
    			var floorNum=(scrolly-st-305-600+50)/495;
    			$('.floor_nav ul li').eq(floorNum+2).addClass("cur");
    			$('.floor_nav ul li').each(function(index,ele){
    				if(index<floorNum+1 && index>1){
    					$(this).addClass('hl');
    				}
    			});
    		}
    	}
    });
    $('.floor_nav ul li').click(function(){
		var divname=$(this).attr("refdiv");
		var top=$(divname).offset().top-300;
		$("html,body").animate({"scrollTop":top},200)
    });
    $('.floor_nav ul li').hover(function(){
    	$(this).addClass("cur");
    },function(){
    	$(this).removeClass("cur");
    });
     
});



</script>
{template 'footer'}
