		<!-- 列表 -->
		<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>
		<div class="left_box">
			<div class="sort_box">
				<ul>
					<li><a>智能</a><em>|</em></li>
					<li class="select"><a>价格&#8595;</a><em>|</em></li>
					<li><a>好评&#8595;</a><em>|</em></li>
					<li><a>人气&#8595;</a><em>|</em></li>
					<li><a>距离&#8595;</a></li>
				</ul>
			</div>
			<div class="list_box">
				{loop $tags $t}
				<div class="list_item">
					<img class="f_l" src="{imgurl($t[thumb],'201')}" width=200 height=125   alt="{$t[alt]}" onmouseover="img_tip_ad(this, this.src);" onmouseout="img_tip_ad(this, '');"/>
					<div class="list_body f_l o_a">
						<div class="item_title"><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></div>
						<div class="item_introduce">					   			
								{mb_substr($t[introduce],0,70)}<a class="list_detail" href="{$t[linkurl]}" target="_blank">[详细]</a>
						</div>
						<div class="price o_a">
							{if $t[price]>0}<div class="price_tag f_l">￥{$t[price]}</div>{else}<div class="list_btn f_l"><img src="{DT_SKIN}images/phone1.png"/>电话咨询</div>{/if}
							
							<div class="f_r o_a">
					   			{if $t[level]==1}
					   				<img src="{DT_SKIN}images/stars_01.jpg" alt="star5" width=66/>
					   			{else}
					   				<img src="{DT_SKIN}images/stars_02.jpg" alt="star4.5" width=66"/>
					   			{/if}
					   		</div>
						</div>
						<hr/>
						<div class="address">
								<img src="{DT_SKIN}images/location.png"/> <span class="address">{area_pos($t[areaid], '')}</span><span class="f_r">{timetodate($t[edittime], $datetype)}&nbsp;&nbsp;</span>
						</div>
						
						<div class="comment hid">
							<ul>
								<li><a><img src="{DT_SKIN}images/pen.png"/>&nbsp;写点评</a><em>|</em></li>
								<li><a><img src="{DT_SKIN}images/favorite.png"/>&nbsp;收藏</a><em>|</em></li>
								<li><a>报名</a><em>|</em></li>
								<li><a>预约</a></li>
							</ul>
						</div>
						
					</div>
				</div>
				
				{/loop}
			</div>
		</div>
		<!-- 列表完 -->	
		<!-- 分页 -->
		{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}
		<!-- 分页完 -->
