@charset "utf-8";

/*轮播*/
.news_slide{ width:100%; height:300px; position:relative;}
.news_slide .sliderbody{overflow:hidden}
.news_slide .imgtxt{width:350px;margin-left:20px}
.news_slide .imgtxt h3{margin-top:20px;font-size:16px;line-height:32px;color:#666;text-align:center}
.news_slide .imgtxt p{text-indent:2em;font-size: 14px;line-height: 28px;margin-top: 20px;color:#666}
.news_slide .sliderhead ul li{display:inline-block;background:#0FAB64;width:10px;height:10px;margin-right:5px;border-radius:10px;background:#e1e1e2}
.news_slide .sliderhead ul li.on{background:#f85415}
.news_slide .sliderhead{position: absolute;bottom: 10px;right: 150px;}

.list_box ul li{width:100%;height:172px;overflow:hidden;background:#f2f2f2}
.list_box ul li:last-of-type{border-bottom:10px solid #f2f2f2}
.list_box ul li .news_item{margin:10px;height:150px;background:#fff;padding:12px}
.list_box ul li .news_item h3 span{font-size:12px;font-weight:normal;font-color:#eee}
.list_box ul li .news_item .newscnt{margin-left:20px;}
.list_box ul li .news_item .newscnt h3{font-size:16px;line-height:32px;}
.list_box ul li .news_item .newscnt p{font-size: 14px;line-height: 28px;}
.list_box ul li .news_item .newsdetail{color:#999;font-size:12px;}
.list_box ul li .news_item .article_catgory{margin-top:10px;color:#999;font-size:12px}
.list_box ul li .news_item .article_catgory a{color:#999;font-size:12px;}

.article_rank .box_head ul li{display:inline-block;cursor: pointer;width: 105px;border-bottom: 2px solid #ccc;text-align: center;font-size: 16px;line-height: 32px;color: #666;}
.article_rank .box_head ul li.select{color: #f85415;border-bottom: 2px solid #f85415;}
.article_rank .box_head{height:35px;border-bottom:none}
.article_rank .rank_body ul li{margin-left:10px;font-size:14px;line-height:22px;margin-top:10px}
.article_rank .rank_body .ranking{	text-align: center;font-size: 14px;color: white;background: #ccc;line-height: 22px;width: 22px;height: 22px;}
.article_rank .rank_body ul li a{margin-left:10px}
.article_rank .rank_body{border:1px solid #eee;padding-bottom:20px;padding-right:10px}
.article_clicks{font-size:12px;color:#f85415;}
.article_rank .rank_body .toprank{background: url(../images/toprank.png) no-repeat;}
.article_rank .rank_body .secondrank{background: url(../images/secrank.png) no-repeat;}
.article_rank .rank_body .thirdrank {background: url(../images/thirdrank.png) no-repeat;}
/*************************资讯列表页***************************/

.news_center .col_main{ width:720px;}

.news_center .col_sub{ width:260px; height:1370px;}



/*点击排行*/

.news_list_r { border:1px solid #dcdcdc;}

.news_list_r .hd{ height:28px; line-height:28px; padding:0 12px; background-color:#f1f1f1; color:#444;}

.click_rank{ border:2px solid #60a516; height:312px;}

.click_rank .hd{ color:#fff; background-color:#60a516;}

.click_rank .bnd{ padding:15px 12px;}

.click_rank .bnd ul{ background:url(../images/ico.png) -18px -366px no-repeat;}

.click_rank .bnd li{ padding-left:18px; line-height:24px; vertical-align:middle;}

.click_rank .bnd li .img{ margin-right:8px; width:60px; height:60px; overflow:hidden;}

.click_rank .bnd li .txt{ overflow:hidden;}

.click_rank .bnd li.click_img{ line-height:18px; padding-bottom:10px;}



/*精彩专题*/

.list_special{ height:317px;}

.list_special .bnd{ padding:10px 0;}

.list_special .bnd ul{ width:240px; margin:0 auto;}

.list_special .bnd li{ float:left; width:112px; padding:4px;}

.list_special .bnd .c_img{ width:112px; height:84px;}

.list_special .bnd .c_img a{ width:112px; height:84px; *font-size:84px;}

.list_special .bnd .title{ height:39px; line-height:18px; overflow:hidden; padding:0 5px;}



.hotnews{ height:296px;}

.hotnews .bnd{ padding:10px 15px;}



/*列表*/

.news_center .news_list{ border:1px solid #dcdcdc;}

.news_center .news_hei{ height:1368px;}

.news_list .position{ background-color:#f1f1f1; height:32px; line-height:32px; color:#444; padding-left:18px;}

.news_list .news_con{ padding:0 22px;}

.news_list .news_con li{ border-bottom:1px dashed #d7d7d7; padding:23px 0; overflow:hidden;}

.news_list .news_con li p{ margin-top:5px; line-height:21px;}

.news_list .list_page{ margin:21px 0;}



/*资讯详情页*/

.news_center .news_info{ color:#444;}

.news_center .news_info h1{ border-bottom:1px solid #ececec;}

.news_info .news_info_t{ padding:20px;}

.news_info .content{ margin:20px 0;}

.news_info .content .lead{padding:10px 5px 5px 15px; margin-bottom:20px;}

.news_info .content .info{ padding:0 10px;}

.news_info .content p{ padding-top:20px; line-height:26px;}

.news_info .content p.txt{ text-indent:20px;}

.news_info .content_d{ border-bottom:1px dashed #d2d2d2; padding:10px 5px 5px;}

.news_info .fanye{ margin-top:20px;}

.news_info .fanye span{ width:300px; display:inline-block; margin-right:15px; height:23px; overflow:hidden;}

.news_info .related{ padding:20px 10px 25px 25px; border-top:1px solid #f1f1f1;}

.news_info .related ul li{ float:left; width:300px; margin-right:15px; *display:inline;}



.share .shareto{ margin-top:4px;}



/*专题列表页*/

.special_list{ padding:0 12px 10px 12px;}

.special_list li{ padding:10px 20px 20px 10px; border-bottom:1px dashed #dedede;}

.special_list li .c_img{ float:left; width:115px; height:125px; padding:3px; border:1px solid #d7d7d7; margin-right:12px;}

.special_list li .c_img a{width:115px; height:125px; *font-size:125px;}

.special_list li .title{ height:22px; overflow:hidden; margin-bottom:6px;}

.special_list li .title a:hover{ color:#f60;}

.special_list li p{ overflow:hidden; height:95px;}

.special_list li .view{ margin-left:30px; color:#1592e2;}

.special_list li .cur{ border-color:#f60;}





/*推荐产品*/

.news_pro_recommend2{ border:1px solid #dcdcdc;  border-top:none;}

.news_pro_recommend2 .hd{ height:33px; line-height:33px; padding:0 15px; background-color:#F1F1F1; color:#333; font:bold 14px/33px arial;}

.news_pro_recommend2 .bnd{ padding:0;}

.news_pro_recommend2 .bnd ul{ width:710px; margin:10px auto;}

.news_pro_recommend2 .bnd .item{ width:122px; padding:10px;}



/************************图库***********************/

.album .filter_tool{ padding:10px 5px; background:#ebebeb;}

.album .filter_tool  a{ background-color:#6a6a6a; border:none; height:24px; line-height:24px; color:#fff;}

.album .filter_tool a.click{ background-color:#e84848;}

.album .filter_tool .ico_up{ background-position: 0 -393px;}

.album .filter_tool .ico_down{ background-position: 0 -405px;}



.filter_tool{ padding:10px 5px; background:#ebebeb;}

.filter_tool  a{ background-color:#6a6a6a; border:none; height:24px; line-height:24px; color:#fff;}

.filter_tool a.click{ background-color:#e84848;}

.filter_tool .ico_up{ background-position: 0 -393px;}

.filter_tool .ico_down{ background-position: 0 -405px;}



.fil_pic .fil_one{ padding-left:18px;}

.fil_pic .fil_one a{ background:none; color:#333; margin:0; padding:0;}



.album_center .bnd .item{ margin-bottom:15px;}



.album_position{ padding:12px 5px;}



.album .album_tab{ width:305px; border:1px solid #dcdcdc;}

.album .album_tab .title{ padding:10px;}

.album .album_tab .album_list{ width:292px;}

.album .album_tab .list_page{ padding:15px 0;}

.album .album_tab .list_page a{ margin-right:5px;}



.album .album_box{ width:670px; border:1px solid #dcdcdc;}

.album #album_list{ width:296px; height:592px; overflow:hidden; margin: 0 auto;}

.album #album_list ul{ height:600px; overflow:hidden; margin:0;}

.album #album_list li{ border:1px solid #e8e8e8; margin:1px;}

.album #album_list li.curr{ border:1px solid #ff8a00;}

.album #album_list li img{ width:70px; height:70px;}

.album .album_box .info{ margin:0 20px; padding:13px 30px 10px 10px; border-bottom:1px solid #e1e1e1;}

.album .album_box .info em{ display:inline-block; height:18px; line-height:18px; padding:0 3px; margin-right:3px;}

.album .album_box .big_img{ background-color:#a9a9a9; width:600px; height:600px; margin:25px auto; position:relative;}

.album .album_box .turn a{ display:block; width:56px; height:63px; color:#fff; font:bold 30px/63px simsun; text-align:center;  position:absolute; background-color:#656565; top:253px;}

.album .album_box .turn #btnPrev{ left:-25px;}

.album .album_box .turn #btnNext{ right:-25px;}

.album .album_box .turn a:hover{ text-decoration:none;}

#btnPrev.disabled,#btnNext.disabled{cursor:default;}

.album .album_box .big_img .img{ width:600px; height:600px; text-align:center; overflow:hidden;}

.album_box .big_img .img img{ max-width:600px;max-height:600px;}



/*****************************视频页*************************/

.video .col_main{ width:725px;}

.video .col_sub{ width:255px;}

.video .video_show{ background-color:#f1f1f1; padding:15px 0 12px;}

.video .video_hei{ height:347px;}

.video .video_show .show{ padding-left:30px; width:370px;}

.video .video_show .show h3{ height:20px; overflow:hidden;}

.video .video_show .top_video_li ul{ width:296px; margin:0 auto; *display:inline;}

.video .video_show .top_video_li li{ position:relative; width:128px; height:95px; float:left; margin:0 10px 20px; *display:inline;}

.video_show .top_video_li .c_img img{ width:128px; height:95px;}

.video .video_show .top_video_li .mask{ background-color:#000; opacity:0.5; filter:alpha(opacity=50);}

.video .video_show .top_video_li .title,.video .video_show .top_video_li .mask{ position:absolute; height:21px; width:128px; line-height:21px; left:0; top:74px; overflow:hidden;}



/*最新视频*/

.video .video_sort{ padding:5px 16px 0 16px; border:1px solid #dcdcdc;}

.video_sort .hd{ border-bottom:2px solid #f0f0f0; padding-right:5px;}

.video_sort .hd h2{ border-bottom:2px solid #ff7300; width:120px; margin-bottom:-2px; position:relative; z-index:2; color:#ff7300; padding-bottom:3px;}

.video_sort .hd h2 .ico_tv{ background-position:-14px -83px; width:16px; height:10px; display:inline-block; margin-right:10px;}

.video_sort .video_imgli{ padding:10px 0 5px; width:680px; margin:0 auto;}

.video_sort .video_imgli li{ float:left; width:150px; margin:15px 10px; *display:inline;}

.video_sort .video_imgli .img{ width:150px; height:110px; background-color:#cbc5c5;}

.video_sort .video_imgli .img img{ width:148px; height:110px; margin-top:-2px; vertical-align:top;}

.video_sort .video_imgli .title{ height:18px; overflow:hidden; padding:4px 0;}

.clicks_ico{ background-position: -19px -122px; width:11px; height:11px; margin-right:5px;}

.video_sort .video_txtli{ border-top:1px dashed #e1e1e1; padding:12px 0 16px 0; *display:inline;}

.newest_video .video_txtli li{ float:left; padding-left:17px; width:290px; margin-right:25px; margin-left:10px; *display:inline; background:none;}

.newest_video .video_txtli li .ico_t{ background-position: 0 -452px; display:inline-block; width:12px; height:12px; margin-right:10px;}

.video_sort .video_txtli li a{ color:#1592e2;}

.video_sort .video_txtli li a:hover{ color:#f60;}

.video_sort .video_txtli .item{ width:325px; float:left; padding-left:5px; *display:inline;}

.video_sort .video_txtli .item .c_img{ width:70px; height:70px; float:left; margin-right:8px; margin-top:3px;}

.video_txtli .item .txt_li li{ height:24px; line-height:24px; overflow:hidden; width:230px;}



/*推荐宝贝*/

.video .video_box_r{ border:1px solid #dcdcdc;}

.video_box_r .hd{ height:30px; line-height:30px; padding:0 13px; background-color:#f1f1f1; color:#444;}

.video .hot_pro{ border:2px solid #de0c0c;}

.hot_pro .hd{ position:relative; background-color:#de0c0c; color:#fff;}

.hot_pro .hd .hot{ position:absolute; background-position: -370px -110px; width:40px; height:35px; top:-2px; right:-2px;}

.video_box_r .bnd{ padding:10px 13px;}

.hot_pro .bnd .c_img{ float:left; width:70px; height:70px; border:1px solid #e1e1e1; margin-right:8px;}

.video_box_r .bnd p{ overflow:hidden;}

.hot_pro .bnd li{ padding:4px 0; font-size:12px;}



/*热点视频*/

.hot_video .bnd .c_img{ float:left; width:80px; height:60px; margin-right:8px;}

.hot_video .bnd .c_img img{ width:80px; height:60px;}

.hot_video .bnd .title{ height:36px; line-height:18px;}

.hot_video .bnd li{ padding:5px 0; position:relative;}

.hot_video .bnd .ico_li{ position:absolute; width:14px; height:17px; color:#fff; background:url(../images/ico.png) 0 -471px no-repeat; text-align:center; overflow:hidden; top:5px; left:0; text-indent:-999em;}

.hot_video .bnd .ico_li02{ background-position: 0 -491px;}

.hot_video .bnd .ico_li03{ background-position: 0 -511px;}

.hot_video .bnd .ico_li04{ background-position: 0 -531px;}

.hot_video .bnd .ico_li05{ background-position: 0 -551px;}



/*视频列表页*/

.video_sort .tab_hd2{ padding:5px 0;}

.video_sort .tab_hd2 li{ float:left; width:77px; height:27px; line-height:27px; text-align:center; background-color:#656565; margin-right:3px; position:relative;}

.video_sort .tab_hd2 li a{ position:absolute; display:block; top:0; left:0; width:77px; color:#fff;}

.video_sort .tab_hd2 li a:hover{ text-decoration:none;}

.video_sort .tab_hd2 li.select a{ background-position: -370px -150px; height:32px;}

.video_sort .tab_cont2 .list_page{ padding:21px 0;}



/*视频详情页*/

.video_detail .content{ background:url(../images/video_bg.png) 0 0 repeat; border-bottom:1px solid #414141; padding-bottom:10px;}

.video_detail .content h1{ padding:15px 0; color:#73cc2b;}

.video_detail .content .video{ width:934px; margin:0 auto;}

.video_detail .content .video .center{ width:594px; margin:0 10px;}

.video_detail .content .video_bottom{ width:594px; margin:0 auto;}

.video_bottom .tag{ margin-top:4px;}

.video_bottom .tag a{ margin-right:10px; color:#73cc2b;}

.video_detail .video_other{ background:#2c2c2c url(../images/video_bg2.png) 0 0 repeat-x ;}

.video_other h2{ text-indent:30px; padding-top:12px; color:#73cc2b;}

.video_other ul{ width:960px; margin:0 auto; padding:10px 0;}

.video_other ul li{ float:left; width:160px; margin:0 16px; *display:inline;}

.video_other ul .c_img a{ width:160px; height:120px; *font-size:120px;}

.video_other ul li p{ width:150px; margin:5px auto;}

.video_other ul li p a:hover{ color:#73cc2b !important;}







/*模板1*/

.fromwork_banner{ background:#230922;}

.fromwork{ background:#250a24; padding-bottom:100px;}

.fromwork_text{ background:#fff;}

.fromwork .fromwork_text .fromwork_daoyu{ padding:20px 30px 30px 30px;}

.fromwork .fromwork_text .fromwork_daoyu dt{ width:77px; margin-right:10px;}

.fromwork .fromwork_text .fromwork_daoyu dd{ width:830px;}

.fromwork .fromwork_text .fromwork_daoyu dd h3{ color:#cd115c;}

.fromwork .fromwork_text .fromwork_daoyu dd p{ color:#444444;}

.fromwork .fromwork_text .fromwork_silk h2{ background:#cd115c; padding:0 30px; height:40px; line-height:40px; font-size:24px; color:#fff; font-family:"微软雅黑"; font-weight:normal;}

.fromwork .fromwork_text .fromwork_silk h2 span a{ font-size:14px; color:#fff; font-weight:normal;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone{ padding:20px 30px 30px 30px;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li{ float:left;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li.fromwork_mar{ margin-right:25px; width:190px;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li span{ display:block;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li span.fromwork_pic{ border:solid 1px #7a7a7a;}  

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li span h3{ color:#cd115c; }

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li span p{ color:#444444; height:95px; overflow:hidden; margin-bottom:5px; }

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li.fromwork_marnone{ width:280px; background:#ebebeb;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li.fromwork_marnone span.fromwork_pic2{ border:solid 2px #333333;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li.fromwork_marnone span.fromwork_box{ padding:5px 10px;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li.fromwork_marnone span p{ height:60px; overflow:hidden;} 

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li.mar{ margin-right:30px;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silkone li.marnone{ margin-right:0;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silktwo{ padding:20px; position:relative;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silktwo .hd li .next{ position:absolute; top:100px }

.fromwork .fromwork_text .fromwork_silk .fromwork_silktwo .hd li .prev{ position:absolute; left:930px; top:100px; }

.fromwork .fromwork_text .fromwork_silk .fromwork_silktwo .fromwork_spec{ margin:0 50px;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silktwo .fromwork_spec li{ float:left; margin:0 7px;}

.fromwork .fromwork_text .fromwork_silk .fromwork_silktwo .fromwork_spec li .pic{ border: solid 1px #b7b7b7; }

.fromwork .fromwork_text .fromwork_silk .fromwork_silktwo .fromwork_spec li span{ text-align:center; width:150px; display:inline-block; padding-top:10px; font-size:14px;}

.fromwork_two{ background:#fff; padding-bottom:0;}

.fromwork_two .fromwork_text .fromwork_daoyutwo{ padding:20px 0;}

.fromwork_two .fromwork_text h2{ font-size:36px; background:none; font-family:"微软雅黑"; font-weight:normal;}

.fromwork_two .fromwork_text .fromwork_silk_two .fromwork_notc{ padding: 10px 0;}

.fromwork_two .fromwork_text .fromwork_silk_two h2{ font-size:36px; background:none; color:#333; padding:0; font-family:"微软雅黑"; font-weight:normal;}

.fromwork_two .fromwork_text .fromwork_silk_two .fromwork_notc li.fromwork_mar{ margin-right:10px;}

.fromwork_two .fromwork_text .fromwork_silk_two .fromwork_notc li span h3{ color:#005dac;}

.fromwork_two .fromwork_text .fromwork_silk_two .fromwork_notc li.marnone{ margin-right:0;}

.fromwork_two .fromwork_text .fromwork_silkbg{ background:#ffed2a;}

.fromwork_two .fromwork_text .fromwork_silkbg .fromwork_silktwo{ padding:20px 0;}

.fromwork_two .fromwork_text .fromwork_silkbg .fromwork_silktwo dt{ width:484px; margin-right:10px;}

.fromwork_two .fromwork_text .fromwork_silkbg .fromwork_silktwo dd{ width:490px;}

.fromwork_two .fromwork_text .fromwork_silkbg .fromwork_silktwo dd h3{ font-size:36px;font-family:"微软雅黑"; font-weight:normal;}

.fromwork_two .fromwork_text .fromwork_zut h2{ font-size:24px; background:none; color:#333; margin-bottom:10px;}

.fromwork_two .fromwork_text .fromwork_zut h2 span a{ color:#333; font-size:14px; font-weight:normal; font-family:"宋体";}

.fromwork_two .fromwork_text .fromwork_zut .fromwork_zutone{ background:#6a6a6a;}

.fromwork_two .fromwork_text .fromwork_zut .fromwork_zutone span a{ color:#fff;}

.fromwork_two .fromwork_text .fromwork_zut .fromwork_zutone .fromwork_silktwo .fromwork_spec li{ margin:0 10px;}

.fromwork_two .fromwork_text .fromwork_zut .fromwork_zutone .fromwork_silktwo .hd li .prev{ left:950px; }
