@charset "utf-8";

/*首页轮播*/
.index_center{ margin-left:10px; *display:inline;}
.index_slide{ width:974px; height:240px; position:relative;}
.index_slide .slideimg img{ width:980px; height:240px;}
.index_slide .slidetab{ position:absolute; right:8px; bottom:8px;}
.index_slide .slidetab li{ width:20px; height:20px; float:left; background-color:#fff; margin-right:3px; cursor:pointer; text-align:center;}
.index_slide .slidetab li.on{ background-color:#ff7300; color:#fff;}

/*推荐产品*/
.product .recorm_mer{ width:720px;}
.product .recorm_mer h2{ font-size:14px;}
.product .recorm_mer .bor{ padding-top:5px;}
.product .recorm_mer .bor_1{ width:75px; height:2px; background:#ff8a00; display:inline-block;}
.product .recorm_mer .bor_2{ width:645px; height:2px; background:#cacaca; display:inline-block;}



.product .recorm_mer .recorm_list .scrollbody{margin-top:10px;padding-left:10px}
.product .recorm_mer .recorm_list .scrollbody ul li .pic{text-align:center;position:relative }
.product .recorm_mer .recorm_list .scrollbody ul li .pic img{ width:120px;height:100px; display:block;}
.product .recorm_mer .recorm_list .scrollbody ul li .course_title{width:120px}
.product .recorm_mer .recorm_list .scrollbody ul li .course_price{color:#f85415;font-size:12px}
.product .recorm_mer .recorm_list .scrollbody ul li .pic a:hover img{ border-color:#999;  }
.product .recorm_mer .recorm_list .scrollbody ul{ overflow:hidden; zoom:1;height:175px }
.product .recorm_mer .recorm_list .scrollbody ul li{ margin:0 20px 0 0; float:left; _display:inline; overflow:hidden; text-align:center;  }

.product .recorm_mer .recorm_list .scrollhead{ overflow:hidden; padding:0 10px;  }
.product .recorm_mer .recorm_list .scrollhead .prev,.picScroll .scrollhead .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;cursor:pointer; background:url("images/arrow.png") no-repeat;}
.product .recorm_mer .recorm_list .scrollhead .next{ background-position:0 -50px;  }
.product .recorm_mer .recorm_list .scrollhead .prevStop{ background-position:-60px 0; }
.product .recorm_mer .recorm_list .scrollhead .nextStop{ background-position:-60px -50px; }
.product .recorm_mer .recorm_list .scrollhead ul{ margin-left:40%; overflow:hidden; margin-top:10px; zoom:1; }
.product .recorm_mer .recorm_list .scrollhead ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; border:3px solid #f85415;border-radius:9px;}
.product .recorm_mer .recorm_list .scrollhead ul li.on{  width:18px;background: #f85415;}



/*最新加盟商家*/
.leag .leag_mer{ width:248px;height:238px;}
.leag .leag_mer h2{font-size:14px; color:#333;padding:0 10px;}
.leag .leag_mer h2 span a{ font-size:12px; font-weight:normal; color:#999;}
.leag .leag_mer ul{ padding:7px 15px 4px 15px;}
.leag .leag_mer li{ padding-top:4px;}
.leag .leag_img{ border:solid 1px #e3e3e3; width:248px; height:80px; margin-top:10px;}
.leag .leag_mer .bor{ padding-top:5px;}
.leag .leag_mer .bor_1{ width:75px; height:2px; background:#ff8a00; display:inline-block;}
.leag .leag_mer .bor_2{ width:170px; height:2px; background:#cacaca; display:inline-block;}



/*产品层*/
.pro_sort .cont_left h2{ font: 24px "微软雅黑"; color:#fff;font-weight:bold;padding: 10px 0px 0px 15px;}

.pro_sort .cont_left .ad_box .ad_text{ padding:0 10px 10px 10px;}

.pro_sort .cont_left .ad_box .ad_text a{ color:#fff;overflow:hidden;}

.ad_box img{ vertical-align:top;}

.cont_left{ height:430px;position:relative;}
.ad_box{position:absolute;bottom:0px;width:220px}

.pro_sort .cont_middle .hd{ height:36px; border-right:1px solid #dcdcdc; padding:0 10px 0 25px;}

.more_pro{ background:url(../images/ico.png) right -107px no-repeat; overflow:hidden; padding-right:20px; margin-top:7px;}

.pro_sort .cont_middle .top_search{ display:inline-block; height:36px; line-height:36px; overflow:hidden;}

.pro_sort .cont_middle .pro_title h2{  padding:5px 0 5px 10px; background:#f5f5f5; border-top:solid 1px #dcdcdc; }

.pro_sort .cont_middle .pro_title li{ border:solid 1px #f5f5f5; float:left; width:130px; height:58px; margin:2px;}

.pro_sort .cont_middle .pro_title ul{ padding-top:10px;}

.pro_sort .top_search a{ margin-right:15px; color:#666;}

.pro_sort .cont_middle .bdx{width:720px;overflow:hidden;height:430px;}

.pro_sort .pro_list{ width:720px; margin:0 auto; height:286px;}

.pro_sort .pro_list .item{ float:left; width:220px; margin-left:19px; height:215px;}

.pro_sort .pro_list .item .c_img{ width:220px; height:140px;border:1px solid #cccccc;margin-bottom:10px}

.pro_sort .pro_list .cur .c_img{ border-color:#ff6600;}
.cont_middle .bdx .ad_box{ width:957px; margin:0 auto;}

.cont_middle .bdx .ad_box .pro_list li{ float:left; padding:0 7px;}

.cont_middle .bdx .ad_box li a:hover{ filter:alpha(opacity=80); opacity:0.8;}

.cont_right{border:1px solid #eeeeee;width:240px;margin-left:18px;height:430px;}

.cont_right .recm_headder ul li{cursor:pointer;display:inline-block;width:110px;border-bottom:2px solid #ccc;text-align:center;font-size:16px;line-height:32px;color:#666}
.cont_right .recm_headder ul li.select{color:#f85415;border-bottom:2px solid #f85415;}
.cont_right .recm_headder{padding: 10px 0 0 9px;}
.cont_right .recm_body{padding: 10px 0 0 9px;}
.cont_right .recm_body .rTitle .ratitle{height:24px}
.cont_right .recm_body .rTitle{margin-bottom:5px}
.cont_right .recm_body .ranking{text-align:center;font-size:14px;color:white;background:#ccc;line-height:22px;width:22px;height:22px;}
.cont_right .recm_body .toprank{background:url(../images/toprank.png) no-repeat}
.cont_right .recm_body .secondrank{background:url(../images/secrank.png) no-repeat}
.cont_right .recm_body .thirdrank{background:url(../images/thirdrank.png) no-repeat}
.cont_right .recm_body  a{font-size:14px;color:#666;margin-left:20px}
.cont_right .recm_body .rabody .rafee{margin-left:10px;font-size:12px;color:#666}
.cont_right .recm_body .rabody .rafee .price{color:#f85415}

.pro_sort01 .cont_left{background:url(../images/paint_post.jpg) no-repeat; }
.pro_sort01 .cont_left .ad_box{background:rgba(29,188,166,0.8)}
.pro_sort01 .cont_middle .hd{ background:#ece5cc;}



.pro_sort02 .cont_left{background:url(../images/music_post.jpg) no-repeat; }
.pro_sort02 .cont_left .ad_box{background:rgba(248,84,21,0.8)}
.pro_sort02 .cont_middle .hd{ background:#f0dfd2;}



.pro_sort03 .cont_left{background:url(../images/dance_post.jpg) no-repeat; }
.pro_sort03 .cont_left .ad_box{background:rgba(233,29,98,0.8)}
.pro_sort03 .cont_middle .hd{ background:#dbe6f1;}



.pro_sort04 .cont_left{background:url(../images/chess_post.jpg) no-repeat; }
.pro_sort04 .cont_left .ad_box{background:rgba(253,192,6,0.8)}
.pro_sort04 .cont_middle .hd{ background:#e8dff6;}



.pro_sort05 .cont_left{background:url(../images/tradition_post.jpg) no-repeat; }
.pro_sort05 .cont_left .ad_box{background:rgba(175,95,10,0.8)}
.pro_sort05 .cont_middle .hd{ background:#f4dede;}



.pro_sort06 .cont_left{background:url(../images/english_post.jpg) no-repeat; }
.pro_sort06 .cont_left .ad_box{background:rgba(56,186,141,0.8)}
.pro_sort06 .cont_middle .hd{ background:#d2eefc;}



.pro_sort07 .cont_left{background:url(../images/science_post.jpg) no-repeat; }
.pro_sort07 .cont_left .ad_box{background:rgba(1,105,80,0.8)}
.pro_sort07 .cont_middle .hd{ background:#e9f3de;}


.pro_sort08 .cont_left{background:url(../images/athetic_post.jpg) no-repeat; }
.pro_sort08 .cont_left .ad_box{background:rgba(64,192,237,0.8)}
.pro_sort08 .cont_middle .hd{ background:#f1d5b7;}

.pro_sort09 .cont_left{background:url(../images/other_post.jpg) no-repeat; }
.pro_sort09 .cont_left .ad_box{background:rgba(184,177,245,0.8)}
.pro_sort09 .cont_middle .hd{ background:#f1d5b7;}

.floor_top {height:38px;border-bottom:1px solid #eeeeee;margin-bottom:20px}
.floor_img {height:36px;width:36px;font-size:18px;color:white;line-height:36px;text-align:center}
.floor_title {font-size:16px;line-height:36px;margin-left:10px;font-weight:bold;color:#666}
.floor_top ul{float:right;height:38px}
.floor_top ul li{display:inline-block;font-size:14px;color:#888;height:37px;line-height:37px;width:85px;cursor:pointer;text-align:center}
.floor_top ul li.select{border-bottom:2px solid #1dbca6}
.floor_top .righttopic{height:36px;margin-left:20px}
.floor_top .righttopic .rmph{height:36px;line-height:36px;font-size:16px;font-weight:bold;color:#666}
.floor_top .righttopic .gdlj{height:36px;line-height:36px}

.floor_nav{width:35px;position: fixed;left:50%;margin-left:-660px;z-index:10000;top:300px;display:none}
.floor_nav li{cursor:pointer;border:1px solid #fff;width:33px;height:50px;color:white;background:#7b7171;font-size:14px;text-align:center}
.floor_nav li.cur{background:#f85415;}
.floor_nav li.hl{display:none}

.pro_sort01 .floor_top .floor_img{background:url(../images/paint_floor.png) no-repeat;}
.pro_sort02 .floor_top .floor_img{background:url(../images/music_floor.png) no-repeat;}
.pro_sort03 .floor_top .floor_img{background:url(../images/dance_floor.png) no-repeat;}
.pro_sort04 .floor_top .floor_img{background:url(../images/chess_floor.png) no-repeat;}
.pro_sort05 .floor_top .floor_img{background:url(../images/tradition_floor.png) no-repeat;}
.pro_sort06 .floor_top .floor_img{background:url(../images/english_floor.png) no-repeat;}
.pro_sort07 .floor_top .floor_img{background:url(../images/science_floor.png) no-repeat;}
.pro_sort08 .floor_top .floor_img{background:url(../images/athetic_floor.png) no-repeat;}
.pro_sort09 .floor_top .floor_img{background:url(../images/other_floor.png) no-repeat;}

/*列表页*/
.page_thumb{ padding:10px 12px;}
.page_thumb .sub_sort{ font: bold 22px/22px "微软雅黑"; color:#444;}
.page_thumb .sub_sort:hover{ color:#f60;}

/*热卖单品*/
.hot_sale{ background:#f5f5f5;}
.hot_sale .hd{ background:#818181; height:30px; line-height:30px; padding:0 12px; color:#fff;}
.hot_sale .bdx{ padding-bottom:15px;}
.hot_sale .bdx li{ padding:15px 10px 0 10px;}
.hot_sale .bdx .c_img{ width:50px; height:50px; margin-right:7px; border:1px solid #d7d7d7;}
.hot_sale .bdx p{ overflow:hidden;}
.hot_sale .bdx li.cur .c_img{ border:1px solid #f60;}

/*位置*/
.col_tit{ border:1px solid #e6e6e6; padding:10px;}
.categ_filter{ border:1px solid #e6e6e6;}
.categ_filter .hd{ background-color:#f6f6f6; height:33px; font:18px/33px "微软雅黑"; color:#ff4800; padding-left:15px;}
.categ_filter .bdx{ padding:12px 18px;}
.categ_filter dl{ padding:10px 10px 10px 120px; border-bottom:1px dotted #cbcbcb; position:relative;}
.categ_filter dt{ float:left; display:inline; width:80px; text-align:right; margin-left:-140px; line-height:24px;}
.categ_filter .inner .all{ display:inline; margin:3px 0 3px -50px; float:left; }
.categ_filter .inner a{ display:block; padding:0 8px; height:20px; line-height:20px; float:left;}
.categ_filter .inner a.cur,.categ_filter .inner a:hover{ background-color:#ff8a00; color:#fff; text-decoration:none;}
.categ_filter .inner .other span{ display:block; width:80px; height:20px; line-height:20px; float:left; margin:3px 0; overflow:hidden; white-space:nowrap; margin-right:20px;}
.categ_filter .inner .other .hide{ display:none;}
.categ_filter dd.more{ position:absolute; right:5px; top:13px;}

/*列表*/
.list_box .tab_hd2{ border-bottom:2px solid #ff7300;}
.list_box .tab_hd2 li{ float:left; width:85px; height:23px; background-color:#ededed; border:1px solid #d0d0d0; text-align:center; line-height:23px; margin-right:1px;}
.list_box .tab_hd2 li.select{ background-color:#ff8a00; border-color:#ff7300;}
.list_box .tab_hd2 li a{ display:block; width:85px; height:23px;}
.list_box .tab_hd2 li.select a{ color:#fff; font-weight:bold;}
.list_box .tab_hd2 li a:hover{ text-decoration:none;}

/*产品列表*/
.pro_top{ border-top:solid 2px #f60; margin-bottom:10px;}
.pro_list .list{ padding:5px 0;}
.pro_list .list .item{ width:160px; padding:8px 10px; background-color:#fff; border:1px solid #f1f1f1; margin:10px 5px; float:left; *display:inline;}
.pro_list .list .c_img{ width:160px; height:160px; overflow:hidden; margin-bottom:5px;}
.pro_list .list .cur{ border:1px solid #c8c8c8; background-color:#f6f6f6;}

/*热销产品推荐*/
.pro_recommend{ border:1px solid #e6e6e6; position:relative;}
.pro_recommend .hd{ background-color:#f5f5f5; border-top:1px solid #fff; height:38px; line-height:38px;}
.pro_recommend .hd .hot{ background-position: -501px -35px; width:48px; height:43px; position:absolute; top:0; left:0;}
.pro_recommend .hd .title_hd{ font:bold 18px/38px "微软雅黑"; padding-left:25px;}
.pro_recommend .bdx{ padding:16px 0 0 14px;}
.pro_recommend .bdx .item{ width:162px; padding:10px 15px; float:left; *display:inline; font-size:12px; overflow:hidden;}
.pro_recommend .bdx .c_img{ border:1px solid #d7d7d7; margin-bottom:5px;}
.pro_recommend .bdx .cur .c_img{ border-color:#f60;}

/*商铺列表*/
.shop_list{ padding-bottom:15px;}
.shop_list .li{ border:1px solid #e6e6e6; margin-top:20px;}
.shop_list .li .shop{ padding:12px 25px; background-color:#f5f5f5;}
.shop_list .shop .enter{ margin-top:28px;}
.shop_list .shop .enter a{ display:block; width:108px; height:25px; line-height:25px; background-color:#ff7300; color:#fff; text-align:center;}
.shop_list .shop .img{ float:left; width:80px; height:80px; margin-right:15px;}
.shop_list .shop .about p{ padding:2px 0; overflow:hidden;}
.shop_list .shop .about .tit{ display:inline-block; float:left;}
.shop_list .shop .about .other{ display:inline-block; width:210px;}
.shop_list .pro ul{ width:740px; margin:10px auto 0;}
.shop_list .pro .item{ float:left; width:122px; padding:7px;}
.shop_list .pro .c_img{ width:120px; height:120px; border:1px solid #e5e5e5; overflow:hidden; margin-bottom:3px;}
.shop_list .pro .cur .c_img{ border-color:#f60;}
.shop_list .pro .more_pro{ padding:0 25px 5px 0;}
.shop_list .pro .more_product{ padding:0 25px 5px 0;}
.shop_list .list_two{ border:none; border-bottom:dashed 1px #e6e6e6; margin:0;}
.shop_list .list_two .shop{ background:none;}
.shop_list .bor_desd{ background:#f5f5f5;}

/*商铺搜索*/
.shop_classify{ border:1px solid #d5d5d5; border-bottom:none;}
.shop_classify li{ height:30px; line-height:30px; border-bottom:1px solid #d5d5d5; padding-left:12px;}
.shop_classify li a{ display:block; width:196px; height:30px;}
.search_result{ border:1px solid #e6e6e6; padding:8px 18px;}
.shop_searched{ border-top:2px solid #ff7300;}
.shop_searched .shop_list .li{ border:none; border-bottom:1px dashed #d6d6d6; margin-top:0;}
.shop_searched .shop_list .bg_01 .shop{ background-color:#fff;}
.shop_searched .shop_list .bg_02 .shop{ background-color:#f5f5f5;}

/************************所有产品分类*************************/
.pro_allsort .sort h2.bor_top{ border-top:solid 1px #c9c9c9; }
.pro_allsort .sort h2{ height:36px; line-height:36px; background-color:#F5F5F5; color:#333; padding-left:16px; border-left:solid 1px #c9c9c9; border-right:solid 1px #c9c9c9;}
.pro_allsort .sort .bdx{ border:1px solid #c9c9c9; border-top:none; padding-left:42px;}
.pro_allsort .sort .bdx .item{ float:left; width:300px; margin-right:15px; display:inline; padding:15px 0;}
.pro_allsort .sort .bdx .item h3{ margin-bottom:5px;}
.pro_allsort .sort .bdx .sub a{ white-space:nowrap; float:left; width:60px; margin-right:10px;overflow:hidden}
.pro_allsort .sort .bdx a:hover{ color:#f60;}

/************************所有产品分类*************************/
.prosort h2{ background:#ff8a00; height:30px; line-height:30px; padding-left:15px; font-size:14px; font-weight:normal;}
.prosort .list_box .box h3{ background-position:0 -574px; border:solid 1px #d7d7d7; border-left:none; border-right:none; height:29px; line-height:29px; font-size:14px; font-weight:bold; color:#333333; padding-left:10px; cursor:pointer; position:relative; border-bottom:none; margin-bottom:1px;}
.prosort .list_box .box h3 .big_ico{ background-position:0 -330px; width:15px; height:15px; position:absolute; top:8px; right:15px;} 
.prosort .list_box .box .title{ padding:10px 0 0 10px; display:block; background:#f5f5f5;}
.prosort .list_box .open h3{ border-top:solid 1px #d2d2d2; margin-bottom:1px; }
.prosort .list_box .open h3 .big_ico{ background-position: 0 -312px;}
.prosort .list_box .box .title{ display:none;}
.prosort .list_box .open .title{ display:block; padding:8px;}
.prosort .list_box .box .title .open h4 .small_ico{ background-position: -14px -348px;}
.prosort .list_box .title .title_one{ display:none;}
.prosort .list_box .title .open .title_one{ display:block; padding:8px;}
.prosort .list_box .box .title .min_title{ padding-bottom:10px;}
.prosort .list_box .box .title .title_one{ padding:0 0 0 20px;}
.prosort .list_box .box .title .title_one li{ padding-top:5px;}
.prosort .list_box .box .title h4{ cursor:pointer; font-size:12px; font-weight:bold; color:#333; }
.prosort .list_box .box .title h4 .small_ico{ background-position:0 -348px; width:13px; height:13px; margin-right:5px;} 
